[2020-08-11 23:33] lastmjs commented on #1837
Just tested and seems to work! Thanks!

[2020-08-11 23:38] lastmjs commented on #1462
Seems to work! Thanks!

[2020-08-12 00:29] lastmjs opened #1859 "The loader.load() function must be called with a value,but got: null."
It seems that the dataloader, if a relation does not exist, throws this error: `The loader.load() function must be called with a value,but got: null.` This happens even if the relation is nullable.

Here's my example query:

[code]
Here's what is returned:

[code]
And some more potentially useful information with a stack trace:

[code]
In the case of this query, user and action_item are both nulla

[2020-08-12 00:30] machi1990 commented on #1859
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-12 00:37] lastmjs commented on #1859
I actually think this is a critical issue if my analysis is correct. Any nullable relations could throw this error, and now I'm not sure how many of my queries that have nullable types are ticking time bombs.

[2020-08-12 01:17] wtrocki commented on #1859
This will require trivial fix. We going to resolve it once team wakes up :)

[2020-08-12 01:18] lastmjs commented on #1859
Alright!!!

[2020-08-12 01:26] lastmjs opened #1860 "Cannot read property 'toString' of undefined"
This query fails:

[code]
Here is the result:

[code]
When I add `id` to the selection set of users.user, the query succeeds:

[code]
Companies and users have a many-to-many relationship, so there is a join table called Companies_users that looks like this:

[code]

[2020-08-12 01:26] machi1990 commented on #1860
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-12 06:51] machi1990 commented on #1860
This looks like it is related to https://github.com/aerogear/graphback/issues/1752 and the more global one about  better support for many to many relationships.

[2020-08-12 07:26] machi1990 commented on #1843
@lastmjs the `@ignore` annotation will be placed directly on the fields that should not be loaded from the database.

Taking this exap

For example, you could use it in the model above as:

[code]

and it will:
 - ignore the `test` field from the query issued in database, thus avoid a `missing column error` which resulted in the issue you were seeing.
- not generate the mutation inputs, since the

[2020-08-12 07:54] machi1990 commented on #1860
This only happens in 0.16.0-alpha3 after https://github.com/aerogear/graphback/pull/1834.  #1861 should fix this issue!

[2020-08-12 09:18] #1859 closed

[2020-08-12 09:18] #1860 closed

[2020-08-12 10:08] machi1990 commented on #1023
This fits nice with https://github.com/aerogear/graphback/pull/1730. I've a couple of thinking to do and I'll jump into this issue.

[2020-08-12 10:13] machi1990 commented on #1764
@ssd71 @wtrocki will this be addressed by #1833 ?

[2020-08-12 10:16] machi1990 commented on #1445
@ssd71 what's the update on this one, is the investigation concluded with https://github.com/aerogear/graphback/issues/1738 ?

[2020-08-12 10:34] wtrocki commented on #1764
Yep. This was purely discussion issue

[2020-08-12 10:34] #1764 closed

[2020-08-12 11:30] machi1990 commented on #1859
@lastmjs we dropped [0.16.0-alpha4](https://github.com/aerogear/graphback/releases/tag/0.16.0-alpha4) to take care of this issue. Mind checking and see it fixes the issue for your. Feel free to re-open if it's not the case.

[2020-08-12 11:31] machi1990 commented on #1860
@lastmjs we dropped [0.16.0-alpha4](https://github.com/aerogear/graphback/releases/tag/0.16.0-alpha4) to take care of this issue. Mind checking and see it fixes the issue for your. Feel free to re-open if it's not the case.

[2020-08-12 11:37] machi1990 commented on #1825
This is low hanging fruit. I kind of have my eyes in the codebase that does this, I am grabbing this issue in order to leave @ssd71 focused on interesting issues. WDYT?

[2020-08-12 12:15] #1349 closed

[2020-08-12 12:49] wtrocki commented on #1825
@machi1990 This is not longer up to date. We have separate _lastUpdated field now for datasync.

[2020-08-12 12:51] machi1990 commented on #1825
Yes, that's the one that's indexed automatically in the patch I opened.

[2020-08-12 13:13] #1825 closed

[2020-08-12 13:43] craicoverflow opened #1864 "Add custom scalars to QueryFilter"
[`QueryFilter`](https://github.com/aerogear/graphback/blob/c2a718aa9da5d00ab74877996f2a72bcc65c414d/packages/graphback-core/src/runtime/QueryFilter.ts#L81) only deals with default scalars. We could add [Graphback scalars](https://graphback.dev/docs/next/model/scalars#table-summary) to provide more strongly typed query-ability.

Let's also disable generating filters for unknown scalars since we hav

[2020-08-12 13:43] machi1990 commented on #1864
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-08-12 13:45] wtrocki commented on #1864
And.. disable automatic filtering for user provided scalars (we had that as workaround for time being!)

[2020-08-12 13:57] #1760 closed

[2020-08-12 13:58] machi1990 commented on #1864
+1 thanks for the followup @craicoverflow

[2020-08-12 15:59] craicoverflow commented on #1864
So what happens if user has a custom scalar like `BigInt`? Having a filter input generated for this would be really convenient, and lessens what we need to support. At the same, we are generating a filter input which possibly will throw some sort of error, so it may be best to disable and we can review requests for new scalars as they come in.

[2020-08-12 16:12] #1765 closed

[2020-08-12 18:15] lastmjs commented on #1860
It works! Thanks a ton

[2020-08-12 18:20] lastmjs commented on #1859
It works! Awesome work again

[2020-08-12 19:58] machi1990 commented on #1860
Thanks for reporting back!

[2020-08-13 03:09] ssd71 commented on #1590
This is outdated now because we have specific `_lastUpdatedAt` field for DataSync that's different from the one used with `@versioned`, added in #1771

Closing

[2020-08-13 03:09] #1590 closed

[2020-08-13 03:20] ssd71 commented on #1445
@machi1990 We do not yet have the ability to specify a different kind of State management(we only check `_version`) (drawing parallels from [here](https://github.com/aerogear/offix/blob/master/packages/offix/conflicts-server/src/api/ObjectState.ts)), but I believe that needs another issue?

[2020-08-13 04:58] ssd71 opened #1867 "[DataSync] Inform client about operation where conflict occured"
We might need to know what operation thrown conflict (in case someone will start batching requests on client)

_Originally posted by @wtrocki in https://github.com/aerogear/graphback/pull/1833_

[2020-08-13 04:59] machi1990 commented on #1867
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-13 05:49] wtrocki commented on #1867
Two cases. Error thrown where no server side conflict resolution is possible.

Extensions can be used to notify about server side error resolution

Research needed

[2020-08-13 07:12] wtrocki commented on #1445
Let's close this

[2020-08-13 07:19] #1445 closed

[2020-08-13 09:34] ssd71 opened #1869 "Docs for `@versioned`"
[This](https://github.com/aerogear/graphback/blob/master/docs/model/annotations.md#versioned) part seems a bit outdated after #1862 got merged

[2020-08-13 09:35] machi1990 commented on #1869
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-13 10:59] machi1990 commented on #1869
Ah good catch @ssd71. Do you have a few cycle that you can provide a doc PR for it?

[2020-08-13 11:06] ssd71 commented on #1869
I will be pushing some datasync docs I've been working on, will add this in as well

[2020-08-13 11:07] machi1990 commented on #1869
Thank you so much. When you open a PR, link the issue so that it will be automatically closed upon merging.

[2020-08-13 12:31] ssd71 opened #1871 "[DataSync] Conflicts occur even when different fields are changed on server and client"
Tried updating two different fields and it still conflicts, because the different ObjectId's are being compared in these places:
https://github.com/aerogear/graphback/blob/98826cc129901da4b8c88c9798ebdfce9f90db78/packages/graphback-datasync/src/providers/DataSyncConflictProvider.ts#L135
https://github.com/aerogear/graphback/blob/98826cc129901da4b8c88c9798ebdfce9f90db78/packages/graphback-datasync/

[2020-08-13 12:31] machi1990 commented on #1871
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-13 13:35] craicoverflow commented on #1871
Is this in the MongoDB provider? At runtime can you know if it is an ObjectID?

Would `ObjectId.equals` work? https://mongodb.github.io/mongo-csharp-driver/2.4/apidocs/html/M_MongoDB_Bson_ObjectId_Equals.htm

[2020-08-13 13:48] ssd71 commented on #1871
@craicoverflow Really sorry for giving so little context!
I think just adding it to the `ignoredKeys` would do the job. This would be correct because both `base` and `serverData` are fetched according to the `_id` sent by the client, and are guaranteed to have the same `_id` so there is no need to compare these in the first place. Quick fix, I'll push this in some time.
https://github.com/aerogear

[2020-08-14 19:09] lastmjs opened #1876 "Cannot return null for non-nullable field Users.email."
This is a strange one. Here is my query:

[code]
Executing this query, I get the following result:

[code]
Now, when I add the `email` field to the user selected in `duration_events`, the query works as expected. Here is the query that works:

[code]
Not sure why this is happening

[2020-08-14 19:09] machi1990 commented on #1876
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-14 19:12] lastmjs commented on #1843
Hey, is the example here good enough? https://github.com/aerogear/graphback/issues/1843#issuecomment-671503126

This is the query:

[code]
The example schema is in that comment

[2020-08-14 19:19] lastmjs opened #1877 "Better automated testing"
Hey everyone, great job on the library so far! As you know, I've been opening a lot of issues. I'm concerned with the number of issues that I'm having to open for edge cases in my queries. It seems to me that a more extensive test suite that covers many different permutations of selection sets would really help. A lot of the little problems I'm having should be caught by automated testing. I'm not

[2020-08-14 19:19] machi1990 commented on #1877
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-15 01:57] lastmjs opened #1878 "npm security vulnerabilities in 0.16.0-alpha4"
There still seem to be quite a few security vulnerabilities in the latest alpha. I've run `npm audit` and `npm audit fix`. The following errors (not all of them in graphback dependencies, but most) cannot be fixed without manual intervention. Fixing `lodash` and `safe-eval` would do a lot:

[code]

[2020-08-15 01:57] machi1990 commented on #1878
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-17 08:51] machi1990 commented on #1823
I think it makes sense to move all API Docs under the API Reference docs.

![Screenshot from 2020-08-17 10-49-13](https://user-images.githubusercontent.com/10106536/90376853-60eb8800-e077-11ea-953d-351ff9409d38.png)

This is from https://github.com/aerogear/graphback/pull/1872 which I find rather loaded with API stuffs and not a guide kind of a documentation that I'd expect as a user.

[2020-08-17 09:15] ssd71 opened #1879 "Is this needed?"
I am pretty sure that we are not using this anywhere because datasync has it's own way of checking what to add and what not to
https://github.com/aerogear/graphback/blob/ba6e2969f9ab674f83a7d83d26cea242a20523a6/packages/graphback-core/src/plugin/ModelDefinition.ts#L22-L23

[2020-08-17 09:15] machi1990 commented on #1879
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-17 09:27] wtrocki commented on #1871
Looks like it can be closed.

[2020-08-17 09:27] #1871 closed

[2020-08-17 09:48] wtrocki commented on #1876
This looks like generic GraphQL situation. We return User object that has required field email.
If returned object is missing email graphql validation will fail.

https://spectrum.chat/graphql/general/cannot-return-null-for-non-nullable-field-in-graphql~7fe90e5f-2895-457f-a7b9-e2839491f5fc?authed=true

This looks like issue with your own queries/schema

[2020-08-17 10:55] wtrocki commented on #1878
We will address that since safe-eval is actually used in the library that can avoid this.

[2020-08-17 10:56] wtrocki commented on #1823
Yep. CC @ssd71

[2020-08-17 11:11] wtrocki commented on #1879
NOt needed. Closing

[2020-08-17 11:11] #1879 closed

[2020-08-17 11:32] machi1990 commented on #1878
@lastmjs @wtrocki The `lodash` issue should be fixed now. We had a task for it since the lib in use was deprecated and maintainers provided an alternative and we did not do the update in time. This should be fixed by #1884.

I have opened https://github.com/aerogear/graphql-metadata/issues/28 to track this.

[2020-08-17 11:47] #1878 closed

[2020-08-17 13:12] machi1990 commented on #1843
Thank you @lastmjs I'll try to setup something similar in an attempt to reproduce the issue.

[2020-08-17 18:48] #1869 closed

[2020-08-17 18:54] lastmjs commented on #1876
I'm not sure what you mean? I should be able to omit the email field in the selection set, not sure why that would cause this error. If I only select the id of a user in the selection set, that should work just as well as providing the email in the selection set.

[2020-08-17 19:10] machi1990 commented on #1472
Closing as this was this fixed by #1883 which superseded #1525

[2020-08-17 19:10] #1472 closed

[2020-08-17 22:19] lastmjs commented on #1878
I've deleted my package-lock.json file and node_modules folder. I'm on graphback, @graphback/runtime-knex, and graphql-migrations `0.16.0-alpha5`. I'm still getting the following:

[code]

[2020-08-18 06:54] machi1990 commented on #1878
This is being tracked in a separate upstream issue https://github.com/aerogear/graphql-metadata/issues/28. Even though the issue can be "safely" ignored since the code that graphql-metadata execute is user supplied code (i.e via the graphback annotations) and as long as the value supplied should be considered safe as long as the graphback user does not supply anything that's not graphback related

[2020-08-18 09:46] #1876 closed

[2020-08-18 10:19] ssd71 commented on #1738
Completed in #1833

[2020-08-18 10:19] #1738 closed

[2020-08-18 11:39] #1864 closed

[2020-08-18 13:20] ssd71 opened #1890 "DataSync demands TTL even with delete mutations disabled"
* **Module**: Graphback DataSync
* **Version**: 0.16.0-alpha5
* **Node.js / npm versions**: N/A
* Example/snippet of the model that is causing issue
[code]

TTL should not be required in this case, because deletes are disabled

[2020-08-18 13:20] machi1990 commented on #1890
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-18 14:07] machi1990 commented on #1634
I believe this has been long fixed for all our data providers:

- https://github.com/aerogear/graphback/blob/e7d4d8240496b38286fb3b6ddf0b2e2859012e8b/packages/graphback-runtime-knex/src/KnexDBDataProvider.ts#L104
- https://github.com/aerogear/graphback/blob/e7d4d8240496b38286fb3b6ddf0b2e2859012e8b/packages/graphback-runtime-mongodb/src/MongoDBDataProvider.ts#L129

Closing this. Feel free to re-ope

[2020-08-18 14:07] #1634 closed

[2020-08-18 14:09] machi1990 commented on #1582
What's the status on this?

/cc @ssd71

[2020-08-18 14:13] machi1990 commented on #1317
This seems like a duplicate of https://github.com/aerogear/graphback/issues/1122, correct?

/cc @wtrocki @craicoverflow

[2020-08-18 14:14] machi1990 commented on #1019
Now that we have `create-graphback`, what's the plan with this?

/cc @craicoverflow @wtrocki

[2020-08-18 14:24] ssd71 commented on #1744
I believe this has been settled, as we decided to use full types instead of changed fields

[2020-08-18 14:24] #1744 closed

[2020-08-18 14:27] ssd71 commented on #1582
@machi1990 I don't believe that this issue has been addressed afaik

[2020-08-18 14:35] wtrocki commented on #1317
Yep

[2020-08-18 14:35] #1317 closed

[2020-08-18 14:37] craicoverflow commented on #1019
We discussed postponing any changes to this tool until after Graphback v1 was released. If you look at it it is actually a very comprehensive code generator.

[2020-08-18 14:46] machi1990 commented on #1019
Cool, thanks. Let's keep this issue around.

[2020-08-18 15:06] wtrocki opened #1892 "Add conflict support to graphql-serve"
We should be able to detect conflicts using graphql-serve.
We can add another flag --conflict-client and on

[2020-08-18 15:06] wtrocki commented on #1892
CC @ssd71

[2020-08-18 15:06] machi1990 commented on #1892
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-08-18 16:19] #1823 closed

[2020-08-18 16:27] craicoverflow commented on #1256
We have the `not` operator which satisfies this.

[2020-08-18 16:27] #1256 closed

[2020-08-18 16:39] machi1990 commented on #1256
Yeap. The below examples can be of handy.

# number not contained in the list of numbers

[code]

# string not contained in the list of strings

[code]

# string not containing another string
[code]

[2020-08-18 16:46] #1890 closed

[2020-08-18 18:43] machi1990 opened #1896 "Ability to publish changes upon creation/update/deletion without necessarily creating the subscriptions GraphQL query /resolvers"
**Is your feature request related to a problem? Please describe.**

Being able to publish (over an external pub sub queue e.g Kafka topic) in one Graphback process and letting the subscription be handled by a complete lightweight another Graphback process(es) that's dedicated for subscriptions only.

**Describe the solution you'd like**

See `subXXX` knobs in https://graphback.dev/docs/next/model/

[2020-08-18 18:44] machi1990 commented on #1896
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-08-19 07:45] craicoverflow commented on #1896
This makes a lot of sense, thank you for the issue! Do you see `subXXX` overriding `pubXXX` if `pubXXX` is false? As `subCreate` on its own would not have any use.

[2020-08-19 07:47] craicoverflow commented on #1501
Is this still an issue?

[2020-08-19 07:48] craicoverflow commented on #1470
Do we still see this as an issue? The obvious solution is to load the model as TS files.

[2020-08-19 07:54] machi1990 commented on #1896
I see them working independently.

Taking
[code]

In this schema, `subCreate` would create:
[code]

and the corresponding resolver, subscribing to the specific Note creation queue. How events are getting publish to the queue would be up the publisher, another Graphback process, another GraphQLCrud  process etc (so long as they conform to the same event contract ).

[2020-08-19 09:35] wtrocki commented on #1501
@craicoverflow DataSync starter were not updated for quite long time. We should do that for the next release. This is still issue

[2020-08-19 09:35] #1470 closed

[2020-08-19 09:36] wtrocki commented on #1470
Not possible due to offlix cli integration, forms integration (entire client side stuff that uses graphback) but it is not visible to grahback maintainers.

[2020-08-19 09:41] craicoverflow opened #1898 "Use `IObjectTypeResolver` instead of `IFieldResolver` in SchemaCRUDPlugin"
The SchemaCRUDPlugin is casting the resolver query, mutation and subscription objects to `IFieldResolver` whereas they should be `IObjectResolver`.

Everything is working fine, but let's correct this in case it causes problems in the future.

[2020-08-19 09:42] machi1990 commented on #1898
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-08-19 10:24] #1898 closed

[2020-08-19 11:10] wtrocki opened #1900 "MongoDB create method should ignore client side provided _id"
Regression. Both datasync and schema plugins add _id to create.
This is not only invalid but causes clientSide id to break server:

[code]

Model seems invalid as well:
[code]

[2020-08-19 11:11] machi1990 commented on #1900
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-08-19 11:11] wtrocki commented on #1900
CC @ssd71

[2020-08-19 11:17] craicoverflow commented on #1640
By not having this we are actually limiting the developer's Node.js server application to use exactly the same version of Knex as Graphback uses.

I tested it out and setting Knex as a peer dependency works fine. What do yo you think about us adding this @machi1990 @wtrocki ?

[2020-08-19 11:27] machi1990 commented on #1640
I have no strong opinion on this. If the typing issues that were there previously are no longer outstanding, what you are saying makes sense. So +1.

[2020-08-19 12:00] craicoverflow commented on #1601
It is technically impossible to use `getSelectedFieldsFromResolverInfo` in a custom resolver because this function requires `ModelDefinition` as a parameter.

Even if ModelDefinition were available in resolvers, there is too much boilerplate for a user to have to write to add the selected fields to the context.

Suggestion: Let's not add selectedFields to the context, just pass the `info` object t

[2020-08-19 12:30] machi1990 commented on #1601
Very nice followup. Thanks for the update.

The only thing that I do not like about passing the `info` object into service (which should be pure business logic) is that it will feel like its invading the service layer while its something that ought to stay in the resolver (think of it as routing) layer.

Instead of passing the whole resolver info object, maybe we can just pass selected fields in a

[2020-08-19 12:48] ssd71 opened #1902 "Add Global conflict config for datasync"
Following up from https://github.com/aerogear/graphback/pull/1901#discussion_r472998891

[2020-08-19 12:48] machi1990 commented on #1902
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-19 12:52] craicoverflow commented on #1640
Yes, those typings issues are gone since `@types/knex` is gone and types are part of the main library.

[2020-08-19 12:56] machi1990 commented on #1640
Great. You've me onboard.

[2020-08-19 13:04] wtrocki commented on #1640
peerDependency.. but remember..

# THIS IS BREAKING CHANGE

[2020-08-19 13:11] craicoverflow commented on #1640
Is it? Nothing changes from the user side - they have to have knex as a dependeny regardless.

[2020-08-19 13:13] wtrocki commented on #1640
Ok. I was thinking that they will be just use knex that we provide.

[2020-08-19 13:14] craicoverflow commented on #1640
Nope, it has to be installed in the template AND is installed in Graphback. This is why it is a current limitation - user can never have a different version of Knex from the one that Graphback is using.

[2020-08-19 13:42] craicoverflow commented on #1601
Very good point there. I was thinking it would be okay to pass to the CRUD Layer to extract the selected fields, so long as the Database layer is kept clean.

That would be a good middle ground. However, when https://github.com/aerogear/graphback/pull/1730/files gets merged, `getSelectedFieldsFromResolverInfo` will require `ModelDefinition` as an argument, which is not available in the the resolve

[2020-08-19 14:39] wtrocki commented on #1601
Awesome!
My prefference to have everything in the service - this will allow us to not care but it will mean that every service call will need info object (which is actually very simple comparing to
API proposed above and requiring some separate helpers.

[2020-08-19 14:39] #1892 closed

[2020-08-19 14:51] #1640 closed

[2020-08-19 14:55] craicoverflow commented on #1197
Going to close this as there was a Discord discussion at the time which I think cleared things up. Feel free to reopen!

[2020-08-19 14:56] #1197 closed

[2020-08-19 15:05] machi1990 commented on #1902
@ssd71 regarding your https://github.com/aerogear/graphback/pull/1901#discussion_r473025919

If you look at:

https://github.com/aerogear/graphback/blob/2dd562b703fbb279b06551bb30c055cccdae6864/packages/graphql-serve/src/runtime.ts#L42-L46

We are applying the same configuration for all the datasync models, so what I was hoping to see instead of this is just to supply a global configuration which

[2020-08-19 19:46] lastmjs opened #1904 "Custom DateTime filter no longer available when upgrading from 0.16.0-alpha5 to 0.16.0-alph6"
Here's an example filter in `0.16.0-alpha5`:

[code]
When I upgrade to `0.16.0-alpha6` the filter looks like this:

[code]
I have been using a simple `scalar DateTime` just fine until `0.16.0-alph6`, and there is no mention of this change in the release notes. I hope it's just a bug and that this functionality hasn't been removed.

[2020-08-19 19:47] machi1990 commented on #1904
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-20 07:51] craicoverflow commented on #1904
Hey Jordan! That's a bug, thanks. We will get it back.

[2020-08-20 08:03] machi1990 commented on #1904
This is a bug, you can use `scalar GraphbackDateTime` which is supported out of the box.
- https://github.com/aerogear/OpenVolunteerPlatform/blob/master/platform/server/model/main.graphql#L81

[2020-08-20 08:57] #1904 closed

[2020-08-20 09:28] #1902 closed

[2020-08-20 09:55] wtrocki opened #1908 "Graphql-serve is missing github url in npm"

[2020-08-20 09:55] machi1990 commented on #1908
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-08-20 10:00] machi1990 commented on #1900
I think it makes sense to ignore surrogate primary keys (`id: ID!` or `_id: GraphbackObjectID` in case of MongoDB) since these will be generated.

The challenge is being able to reliably tell the underlying database. Is it MongoDB or a relational database (PostgreSQL) in our case.

- We can make a better judgement that no one uses `ObjectID` as primary key in PostgreSQL as it does not make sense.

[2020-08-20 10:05] #1019 closed

[2020-08-20 10:09] machi1990 commented on #1736
/cc @craicoverflow @wtrocki bumping this

[2020-08-20 10:18] craicoverflow commented on #1762
Closing this as it is not a Graphback problem and appears to be resolved on our side. Feel free to reopen!

[2020-08-20 10:18] #1762 closed

[2020-08-20 10:20] craicoverflow commented on #1845
cc @machi1990 can you add more info, maybe with the new issue template?

[2020-08-20 10:24] wtrocki commented on #1867
[code]

When executing this operations we getting path that identifies errors:
[code]

[2020-08-20 10:24] #1867 closed

[2020-08-20 11:17] machi1990 commented on #1900
Yes, but we'll want to do it only for MongoDB database.  I am wondering how do we get to do it properly without breaking things for one database (I am thinking of Postgres) as we probably would not want to ignore it.

Also (whatever solution we'll go with), I think it makes sense to do it also for `id` since it be automatically generated.

[2020-08-20 11:17] craicoverflow commented on #1908
It is not just GraphQL Serve - it is all the packages!

[2020-08-20 11:23] #1908 closed

[2020-08-20 11:27] wtrocki commented on #1900
Let's leave this then. I think that making quick fixes here might lead to issues.
I see that _id is now ignored (wasn't before) for datasync so all good.

[2020-08-20 11:30] machi1990 commented on #1900
Sure, we can revisit it later.

[2020-08-20 11:35] #1836 closed

[2020-08-20 12:17] machi1990 commented on #1758
It will be interesting to add a database and see how performance fares in https://www.techempower.com/benchmarks especially against other graphql related frameworks or [Javascript libraries](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/JavaScript).

[2020-08-20 12:24] machi1990 commented on #1597
Only landing to this issue now.

What was our conclusion about this?

I think going with throwing an error (indicative) enough should be fine. This way, the user could either remove the `@versioned` annotation from the model or change the name of the impacted fields.

/cc @ssd71 @craicoverflow to get your opinion on this.

[2020-08-20 13:02] wtrocki commented on #1597
@ssd71 can confirm, but we decided to move to `_deleted` etc. Looks it can be closed.

[2020-08-20 13:17] wtrocki opened #1914 "ClientSideResolution strategy."
We need strategy that will return error to the client. This will always ensure client that data incosistency happened and client should deal with it.

[2020-08-20 13:17] wtrocki commented on #1914
CC @ssd71

[2020-08-20 13:18] machi1990 commented on #1914
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-08-20 13:23] ssd71 commented on #1597
@wtrocki The issue is about `@versioned` now, instead of `@datasync`, I think

@machi1990 That sounds good to me, but I'm unsure if I am missing any essential context/perspective so let's also wait for @craicoverflow opinoin as well

[2020-08-20 13:29] Eunovo opened #1915 "Types missing for 'bson' in @graphback/core"
* **Module**: @graphback/core
* **Version**: 0.16.0-beta1
* **yarn version:** 0.1.2
* Screenshot of console log

![image](https://user-images.githubusercontent.com/37949128/90776044-808de500-e2f1-11ea-9456-0864ba9bf985.png)

I get above error when I try to compile my typescript project

[2020-08-20 13:30] machi1990 commented on #1915
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-20 13:30] craicoverflow commented on #1597
Yep, this is the best thing to do. Overwriting the field without an error can leave the developer wondering why their application is not working, best to give them the information to do it safely and adapt their schema.

[2020-08-20 13:37] machi1990 commented on #1915
Is it the Graphback project that you are compiling?

[2020-08-20 13:37] Eunovo commented on #1915
No. I'm using the graphback-core in offix

[2020-08-20 13:40] machi1990 commented on #1915
Ah strange that it tries to compile an external dependency (might be how the project is configured).

[2020-08-20 13:55] wtrocki commented on #1915
Yep... This is due to using it within CLI. This can be replicated by using generate from cli.

[2020-08-20 14:10] #1915 closed

[2020-08-21 12:45] machi1990 opened #1921 "ability to ignore CI runs when patch does not affect source files"
We should not run ci when we modify docs etc
Example
- https://github.com/aerogear/graphback/pull/1854
- https://github.com/aerogear/graphback/pull/1786

and couple of other doc change related PRs.

[2020-08-21 23:49] machi1990 opened #1925 "Avoid querying relationship field from GraphbackService (database) when relationship owner contains full dataset"
Consider the business model below:

[code]

**Is your feature request related to a problem? Please describe.**

The code of my custom resolver `todaysCommentWithMetadata`, returns an array of `Comment` each with their associated `Metadata` all in a single database query. However, when I enabled database query logging, I noticed two queries being sent to the database

1. My custom database query
2.

[2020-08-22 16:45] wtrocki opened #1927 "Conflict resolution base is not properly calculated"
When executing multiple changes in the row like we see in offix base is not properly calculated

What happens that multiple async changes clashes with each other and client side data is lost.

Can explain further.

[2020-08-22 16:47] wtrocki opened #1928 "Delta - mutiple records lost"
This is hard to replicate but when having multiple changes done in the same milliseconds (lastUpdated is the same) Only single record is returned

[2020-08-22 16:50] wtrocki opened #1929 "Conflict metadata missing"
I is really confusing when replication returns different data that was sent and if we have other changes that were done offline we need to update them to avoid further conflicts. I have tried to check version that is returned but this also can be iterated. We need to add some info about conflict in extension or something

[2020-08-22 16:52] wtrocki opened #1930 "Delta - missing validation for invalid conflict key"
We enable conflict per model and not operation. If someone will pass operation name should get error.

[2020-08-22 16:55] wtrocki opened #1931 "Conflict docs refactoring needed."
Refactor topics towards advanced use cases and getting started. Include info about offix datastore.

This should be merged

https://github.com/aerogear/graphback/blob/dbf8b5dbccaf8fc3ed6b8d859e5e97564c8677e7/docs/datasync/conflict-resolution-strategies.md

[2020-08-22 16:57] wtrocki opened #1932 "Graphback delta and conflict should have documentation for GraphQLCRUD"
GraphQLCRUD needs to be updated however it will be better for us if we duplicate docs in graphback first same as other docs

[2020-08-24 07:57] craicoverflow commented on #1925
Seems very sensible, +1.

[2020-08-24 09:25] wtrocki commented on #1927
CC @ssd71

[2020-08-24 09:26] wtrocki commented on #1928
CC @ssd71

BTW. I have made manual changes to replicate this problem (it was not possible to get that without manual change)

[2020-08-24 09:27] wtrocki commented on #1929
CC @ssd71

Very important and simple to achieve. We need extensions

[2020-08-24 09:32] wtrocki commented on #1930
CC @ssd71

[2020-08-24 09:39] ssd71 commented on #1930
@wtrocki Could you describe a setup where one should get an error?

[2020-08-24 09:48] wtrocki commented on #1930
validation should go thru the keys and check if key exist (is represented by model).

"user": {} // OK

"getUzer": {} // Not ok

[2020-08-24 09:54] machi1990 commented on #1845
SQL has check constraints e.g https://www.postgresql.org/docs/9.4/ddl-constraints.html which automatically verifies the valid of data under the given constraints.

With this feature we'll be looking to support defining them via an annotation, let me call it `@db(check: [])`.

Taking the `products` table from the shared link above, this could then be modeled as:

[code]

The constraint can be named

[2020-08-24 10:13] #1925 closed

[2020-08-24 10:16] wtrocki commented on #1928
Swapping from `new Date().getTime` to process.hrtime() when saving to original table using soft deletes will fix that.

If we have a range for that large number - if not let's close this issue

[2020-08-24 10:19] #1927 closed

[2020-08-24 10:42] machi1990 opened #1934 "[Core] [Discussion]: being able to tell what "packages" (or db capabilities, to be precise, are installed)."
**Is your feature request related to a problem? Please describe.**

As a plugin developer, I'd like to perform certain logics during schema transformation or resolvers creations only for certain types of databases and not the other.

One use case, I am thinking is [when my plugin is ran against a MongoDB database, completely ignore the generation of `_id: GraphbackObjectID` field in the generated

[2020-08-24 10:43] machi1990 commented on #1934
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-08-24 12:00] machi1990 opened #1936 "createIndexesTest is unstable"
I've seen the test failing in separate random occasions and had to re-start CI to make it pass.

The failure is:
[code]

See https://app.circleci.com/pipelines/github/aerogear/graphback/7359/workflows/259093cd-6792-4e23-bb39-b7632159eb02/jobs/7506 for example

[2020-08-24 12:01] machi1990 commented on #1936
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-08-24 12:06] craicoverflow commented on #1601
Putting everything into the service presents its own challenge..lots of arguments and easy to break the API in the future. We do require some form of wrapper type to contain dynamic props but I do not believe that context is the solution.

The primary reason we have a CRUD service layer and do not use the resolvers directly is because it is extendable. I really believe the method signature should

[2020-08-24 12:53] ssd71 commented on #1928
[process.hrtime()](https://nodejs.org/api/process.html#process_process_hrtime_time) gives two numbers instead of one, process.hrtime.bigint() gives us BigInts which are not supported by MongoDB as they are arbitrary precision, This wouldn't be a simple fix I am afraid

[2020-08-24 13:06] machi1990 commented on #1601
I like the idea. So +1.

[2020-08-24 13:10] wtrocki commented on #1928
So we cannot save them as strings? String indexes will have the same implication as number indexes

[2020-08-24 14:15] ssd71 commented on #1928
Yep, sorry for missing that out plus some more stuff:
From same page:

- process.hrtime doesn't return timestamp

- Scalar Support (not 100% sure but we cannot use GraphbackTimestamp with this)

wdyt?

[2020-08-24 14:28] wtrocki commented on #1928
Closing then! Thank you for investigation

[2020-08-24 14:28] #1928 closed

[2020-08-24 16:24] wtrocki opened #1939 "_deleted is not returned when requested"
We do not have _deleted returned in sync queries despite objects being deleted.

## Steps to reproduce

1. Delete item
1. Sync using timestamp - deletion information is not available despite it was requested.
It should have _deleted true/false

[2020-08-24 16:24] wtrocki commented on #1939
CC @ssd71 critical bug

[2020-08-24 16:25] machi1990 commented on #1939
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-08-24 16:25] wtrocki commented on #1939
Bug on the client side.

[2020-08-24 16:29] ssd71 commented on #1939
@wtrocki   Does the delta type have a _deleted field?

[2020-08-24 16:30] wtrocki commented on #1939
it is bug on the client - I cannot have deleted in the schema, because it will be used to build mutation queries. so need to pass _deleted only for sync call. Closing.

Sorry for missunderstanding

[2020-08-24 16:30] #1939 closed

[2020-08-24 16:31] ssd71 commented on #1939
Cool

[2020-08-24 16:57] wtrocki commented on #1900
I would really like to have the ability to skip _id.
Number of the hacks I need to do in the client for this is to big. I will check if I can hack this (detect scalar and not include it for create)

[2020-08-24 18:53] wtrocki commented on #1900
Let's chat about this tommorow.

[2020-08-24 19:02] machi1990 commented on #1900
This makes sense.

This is the simplest enough "hack", but I also think the client should not send the "_id" or "id" key during create.

Sure :-)

[2020-08-24 22:17] lastmjs opened #1941 "Cannot read property 'and' of undefined"
graphback version: 0.16.0-alpha5

All of my subscriptions without filter now return this error:

[code]
The error above came from this subscription query:

[code]
Any new subscription without a filter is doing this.

This is another example of something very core breaking when I upgrade. My subscriptions were all working very reliably before this change. Seems regressions are easily added. I'm try

[2020-08-24 22:18] lastmjs commented on #1877
Another example of core functionality breaking when upgrading graphback versions: https://github.com/aerogear/graphback/issues/1941

[2020-08-24 22:18] machi1990 commented on #1941
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-25 04:21] wtrocki commented on #1941
Easy fix. Workaround is to pass empty object as filter

[2020-08-25 07:11] machi1990 commented on #1941
Hi @lastmjs thank for reporting this issue. It should be an easy fix to make sure that it's retro-compatible with previous releases.
I'll take care of this and drop a beta release.

Our target is to make Graphback stable enough and we appreciate your inputs. Sorry for this issues you are running into, they are top priority for us. Testing is an area that we are giving much focus, it may arrive tha

[2020-08-25 08:34] #1941 closed

[2020-08-25 14:58] #1921 closed

[2020-08-25 14:58] #1936 closed

[2020-08-25 14:59] machi1990 opened #1945 "Add action to deploy website automatically when new release is created."

[2020-08-25 14:59] machi1990 commented on #1945
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-08-25 15:00] machi1990 commented on #1945
See https://v2.docusaurus.io/docs/deployment/#triggering-deployment-with-github-actions

[2020-08-26 08:31] machi1990 commented on #1661
With Relational databases,  GraphQL Migrations can take care of this.

I wonder how can have something similar for MongoDB without having to track relationships on code.

[2020-08-26 08:35] machi1990 commented on #1494
This looks like a duplicate of https://github.com/aerogear/graphback/issues/1122. If so let's close this in favor of the other.

/cc @lastmjs @craicoverflow @wtrocki

[2020-08-26 10:56] #1945 closed

[2020-08-26 11:46] wtrocki commented on #1819
Done initial investigation.

Stucco is a superior solution for the cases where we think about isolating resolvers for becoming their own units (like serverless). For the cases where we dealing with the single server hosting resolvers and GRPC handlers with small queries, I see that the benefits of using it will be minimal - if we include additional complexity.

Where stucco excels is large project

[2020-08-26 11:57] machi1990 commented on #1941
[0.16.0-beta2](https://github.com/aerogear/graphback/releases/tag/0.16.0-beta2) has been released and should effectively fix this issue.

[2020-08-26 14:06] wtrocki commented on #1736
High priority for the moment

[2020-08-26 15:49] craicoverflow commented on #1637
The only thing I can think of is by letting the SchemaCRUDPlugin generate the context file:

[code]

[2020-08-27 08:04] wtrocki commented on #1637
No need for generation. We will not be able to get service names but.. connecting CRUDservices is trivial:

`[service:string: GraphbackCRUDService]`

If we start using generics and drop graphback namespace this will be:

`resolveUser(_, _, { services:{ User: GraphbackCRUDService<User>}})`

AKA type it yourself - user will come from codegen then.

[2020-08-27 08:37] #1601 closed

[2020-08-27 08:37] #1641 closed

[2020-08-27 09:47] #1914 closed

[2020-08-27 09:47] #1930 closed

[2020-08-27 11:01] craicoverflow commented on #1650
Thoughts on this still? I personally think a template is overkill. However the CLI could generate a schema file as a getting started:

[code]

This would mean no need for a template in Graphback (which would need to be created through `create-graphback`?) and actually have a quicker way to get started with gqlserve.

[2020-08-27 11:03] #1650 closed

[2020-08-27 11:45] craicoverflow commented on #1637
The decomposition of the context wil be a little bit bulkier than what you proposed, as the typing needs to be decomposed separate to the context:

[code]

But this is still the best solution.

[2020-08-27 12:19] machi1990 commented on #1756
Not needed for now. Closing.

[2020-08-27 12:19] #1756 closed

[2020-08-27 12:20] machi1990 commented on #1934
Another use case https://github.com/aerogear/graphback/issues/1557#issuecomment-649464015

[2020-08-27 12:22] machi1990 commented on #1461
@wtrocki what's the outcome on this?

[2020-08-27 12:40] wtrocki commented on #1461
[code]

What you will miss is tooling for strong typings and validation but result is exactly the same. Adding input type to filter every enum seems overkill.

Mapping string / enum can be done in client side generator but most of the folks might not use that.

It is the tough choice - but if you would like some easy fast answer I would say this is docs issue

[2020-08-27 13:38] machi1990 opened #1954 "Graphback CLI missing docs"
The graphback-cli doc page is empty at the moment - https://graphback.dev/docs/cli/graphback-cli

Opening this issue to add a paragraph or two.

[2020-08-27 13:39] machi1990 commented on #1954
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-08-27 14:51] craicoverflow commented on #1637
The problem with this approach is that you no longer have the complete context object as it is decomposed as a parameter.

[code]

While this is an optional parameter, and in fact currently the only method that uses it in the CRUDService is `batchLoadData`, it should still be kept.

So the user has three choices:

1. Sacrifice passing context to CRUDService for typing in the resolver function.
2.

[2020-08-27 15:06] craicoverflow commented on #1637
**FOURTH APPROACH**

Another approach is that the user can define their own custom context interface to use in custom resolvers:

[code]

This method would mean keeping the custom context interface synced with the schema models, but would only need to specify the models required for custom resolvers..and would mean less repetition of destructuring the context for every resolver, making it - easier

[2020-08-27 15:06] craicoverflow commented on #1637
cc @wtrocki and @machi1990 for thoughts on this.

[2020-08-27 15:12] machi1990 commented on #1637
This will be done in user's code right?

[2020-08-27 15:16] craicoverflow commented on #1637
Correct, and would only need to be done if the user wants strongly typed models for custom resolvers, and would not override the GraphbackContext.

[2020-08-27 15:25] machi1990 commented on #1637
Understood. This makes a lot of sense and I'd see it as docs only kind of change.

[2020-08-27 15:29] craicoverflow commented on #1637
Yep but there is some crossover because I am deciding what the best approach is to add a custom resolver in https://github.com/aerogear/graphback/issues/1627 - so it is a recommended approach but there will also be a code example.

[2020-08-27 15:35] machi1990 commented on #1637
You are right. Sure, having the that on templates will be a huge plus too.

[2020-08-28 11:18] machi1990 opened #1960 "Templates testing and branching them in CI"
Follows up https://github.com/aerogear/graphback/pull/1957

[2020-08-28 11:19] machi1990 commented on #1960
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-08-31 10:10] craicoverflow opened #1963 "Logical OR operator is not working correctly in MongoDB query builder"
* **Module**: `graphback-runtime-mongodb`
* **Version**: `0.16.x` but this issue has probably always existed as the unit test did not correctly cover this case.
* **Node.js / npm versions:** *

The `or` operator is behaving like an `and` operator and will only return a match if both conditions are met.

[code]

[2020-08-31 10:11] machi1990 commented on #1963
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-08-31 11:46] machi1990 commented on #1736
Ongoing work here https://github.com/machi1990/graphql-cli/tree/refactor/brings-in-graphback-commands. I'll add the MongoDB template into GraphQL cli templates configuration so that we've a mongo based template too during init.

[2020-08-31 15:08] machi1990 commented on #1896
/cc @wtrocki

[2020-08-31 15:21] wtrocki commented on #1896
We also need the opposite situation:

Having subscription handlers available but do not publish any events on CREATE UPDATE AND DELETE

Workaround for now exist:

What we need is to define the model and disable all crud operations on it apart from subscription. Then we use kafka pubsub to listen to events (topics are configurable and documented) and it should work with debezium.

We need to build

[2020-08-31 15:37] wtrocki commented on #1896
I trelolozed this: `7-datasync-kafka-debezium-enabled-event-streaming-approach`

[2020-08-31 16:27] craicoverflow opened #1965 "The closing block of a generated Graphback query is not inline"
* **Module**: graphback-codegen-client
* **Version**: *
* **Node.js / npm versions:** *

This is a minor styling bug I noticed in the queries that are generated by the `@graphback/codegen-client` plugin.

This does not affect functionality in any way, but would be nice to get fixed.

[code]

### Testing your changes

From the `templates/ts-react-apollo-client` directory, run `yarn graphback genera

[2020-08-31 16:28] machi1990 commented on #1965
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-08-31 17:30] machi1990 commented on #1896
Yes, this is described in the issue description.

Indeed.

+1 on this plus the ability to specify any pre-processing operation (e.g payload transformation ) that needs to be done before the received event is sent to the subscribing client.

[2020-08-31 18:12] wtrocki commented on #1896
For transformation we have separate feature for content mapping

[2020-08-31 18:12] evanshortiss opened #1967 "Search case sensitivity"
**Is your feature request related to a problem? Please describe.**

Yes. I'm trying to query a string field, but my query fails since it's case sensitive. For example the DB contains "GITHUB", but my search contains "github".

**Describe the solution you'd like**

The ability to toggle case sensitivity for a query using a Boolean.

**Describe alternatives you've considered**

Could regular express

[2020-08-31 18:13] machi1990 commented on #1967
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-08-31 18:24] machi1990 commented on #1896
Nice. Does it apply even under this context? E.g suppose that the source of the events is a DBZ (which pushes events to a Kafka topic), on Graphback side, we'll subscribing to this topic, what'll be desirable is to not merely to the subscription but to supply some sort of transformation function which is to be applied to the event before its sent to the client.

[2020-09-01 15:41] machi1990 opened #1977 "repurpose templates to have `.graphqlrc.yml` file instead of `codegen.yml`"
https://github.com/aerogear/graphback/blob/56266d28e301367f49788d17b5a86a592ae107f5/templates/ts-apollo-mongodb-backend/codegen.yml does this be re-purposed to a `.graphqlrc.yml` file?

[2020-09-01 15:42] machi1990 commented on #1977
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-01 16:14] wtrocki commented on #1977
Yes we should. We did not do that because graphql-cli required graphback and we had problem with the older graphback version available. Since moving all the work here we will not have this problem anymore.

[2020-09-01 16:33] machi1990 commented on #1977
Thanks @wtrocki for the reply. I've renamed the issue so that it does not look like a question.

For the record the client side template has the file https://github.com/aerogear/graphback/blob/56266d28e301367f49788d17b5a86a592ae107f5/templates/ts-react-apollo-client/.graphqlrc.yml

[2020-09-01 16:35] wtrocki commented on #1977
This also blocks graphql-cli integration as it bases on graphql-config

[2020-09-02 04:50] lastmjs opened #1980 "Query structure, session pinning"
Hey, I'm attempting to deploy Graphback into a serverless environment (AWS Lambda) that uses AWS RDS Proxy to manage connections to the database. The proxy is supposed to multiplex connections, but it seems there is not multiplexing occuring whatsoever. This is leading to extremely bad performance.

I'm just wondering if there is anything in the PostgreSQL queries being created by Graphback that m

[2020-09-02 04:50] machi1990 commented on #1980
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-09-02 05:09] lastmjs commented on #1980
I think I've tracked down the most likely candidate...prepared statements. Does Graphback use prepared statements? Is there any way to turn them off if so?

[2020-09-02 06:07] lastmjs commented on #1980
Scratch the prepared statements for now, digging into my logs more I get to the following message:

[code]

`A parse message was detected.`. Seems this might be related to extended queries? Any insight here? Is there anyway I can get rid of parse messages from within Graphback or Knex?

[2020-09-02 07:46] #1977 closed

[2020-09-02 08:13] craicoverflow commented on #1967
I've thought about this and though it would be easy enough to add, the filter input fields are purely to map to an underlying database table/collection - adding case sensitivity to the filter would also mix configuration into it this. We don't want to make the inputs too complex.

In your particular use case, do you see the need to combine `{name: { contains: "BREA" }}` with other conditions, or i

[2020-09-02 08:48] wtrocki commented on #1967
Yes. Text search is one of the proposed goals on roadmap post 1.0.
Doing any search, filtering on general entities now requires building complex filtering.

[2020-09-02 09:34] wtrocki commented on #1967
Actually we can see if we can do something like Hasura done:
https://hasura.io/docs/1.0/graphql/core/queries/query-filters.html#text-search-or-pattern-matching-operators-like-similar-etc

[2020-09-02 12:48] evanshortiss commented on #1967
@craicoverflow exactly, this is a search query on a string field and supporting the DB-level text search would be ideal since it removes most ambiguity.

I'm not incredibly famiilar with how Graphback internals operate; are the various filters implemented as plugins? Once a plugin is authored it can be exposed as a filter in the schema, similar to what @wtrocki linked?

[2020-09-02 13:09] machi1990 opened #1981 "Ability to filter create-graphback's templates based on given pattern"
**Is your feature request related to a problem? Please describe.**

I'd like to not display the full list of templates but a list matching a certainly pattern e.g "backend", "mongo", "datasync" etc

Related to https://github.com/Urigo/graphql-cli/pull/1407#issuecomment-685684754 and https://github.com/Urigo/graphql-cli/pull/1407#issuecomment-685704222

**Describe the solution you'd like**

Add a f

[2020-09-02 13:09] machi1990 commented on #1981
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-02 13:14] craicoverflow commented on #1967
Yes, the various filters that you see are applied to the schema through the [`SchemaCRUDPlugin`](https://graphback.dev/docs/plugins/crud-schema), this is a default plugin that is automatically executed on startup.

What this plugin does:

1. Creates the GraphQL schema with filters, queries, mutations, subscriptions using the data model you defined in the `transformSchema` plugin hook.
2. Generates

[2020-09-02 15:26] evanshortiss commented on #1967
That's very slick! I'll need to dig into it.

Do you think it's best to implement filters like this at the app level, and not Graphback level?

[2020-09-02 15:46] wtrocki commented on #1967
I think this specific issue - especially `similar` or `ilike` makes sense to be part of the core.

[2020-09-02 16:31] machi1990 commented on #1967
+100

[2020-09-02 18:20] lastmjs commented on #1980
Seems this is going to be a problem with `pg` itself

[2020-09-02 18:44] wtrocki commented on #1980
We do not use prepared statements. Executed queries are very vanilla (anything that knex would do), however I believe that problem is related to your app configuration and unrelated to how we do queries.

I do think that if you use serverless and proxy knex needs to be properly configured to **not** create connection pool (the part inside your app that setup knex database, similar to our templates

[2020-09-02 18:46] wtrocki commented on #1980
@lastmjs let me know if that helps you. As team we are devoted to your success using graphback. It was really nice to play with AWS capabilities - I never used lambdas and proxy before.

[2020-09-02 22:27] lastmjs commented on #1980
Thanks for getting back to me, you guys still rock!

So, as for your suggestion here:

How would I do this? I already have knex configured to have a min pool of 0 and max pool of 1. I'm not sure this is the issue, though I would like to try your suggestion.

From what I understand, knex makes a prepared statement every time. So all graphback queries are prepared statements. I found that out here:

[2020-09-03 08:54] wtrocki commented on #1980
It is still maintaining connection especially that AWS lambdas.
Check https://github.com/knex/knex/issues/3464

There is sample app (broken) that knex maintainer explains how to fix.

[2020-09-03 08:58] wtrocki commented on #1980
Alternatively, it will be better to create fastify middleware to disconnect database (that will be quick and easy

[2020-09-04 08:41] craicoverflow commented on #1963
I think the issue with this stems from the fact that the logical OR operator in the CRUD spec accepts an object only, whereas the MongoDB $or operator only accepts an array:

[code]

Therefore the remapping of the $or conditions attempted in https://github.com/aerogear/graphback/pull/1985 is kind of impossible.

[2020-09-04 08:47] machi1990 commented on #1963
I think accepting an array of expression makes sense and in this case it will mean that the condition is satisfied when either of the expression evaluates to true.

How big is this change?

[2020-09-04 08:54] wtrocki commented on #1963
Quick discussion needed.

[2020-09-04 08:55] craicoverflow commented on #1963
Ah my bad - I can see that `or` is already a GraphQLList. Need to look into this.

[2020-09-04 08:57] wtrocki commented on #1963
Also Schema and AWS compatibility.
Can we use/recomend nested syntax for or?

[2020-09-04 08:57] machi1990 commented on #1627
Fixed by https://github.com/aerogear/graphback/pull/1956

[2020-09-04 08:57] #1627 closed

[2020-09-04 09:26] craicoverflow commented on #1637
Resolved by #1956

[2020-09-04 09:26] #1637 closed

[2020-09-04 10:07] wtrocki opened #1993 "Graphback templates readme is missing details"
Our readmes missing details about project structure, how to edit, create resolver etc.
We can link to some specific graphback docs if needed but starting with template has now only info about running it.

[2020-09-04 10:07] machi1990 commented on #1993
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-04 10:09] machi1990 commented on #1736
Too many tabs opened and I clicked the wrong button of an unrelated issue.

[2020-09-04 10:09] #1736 closed

[2020-09-04 10:20] machi1990 commented on #1993
The server side READMEs have this line:
`For more on customising your Graphback application, check out [our docs](https://graphback.dev/docs/gettingstarted)` which is more general. What I think is desirable is a short into on:
1. Modifying and customizing model, which file to modify and a link to relevant graphback docs
2. Writing custom resolvers , which file to modify and a link to the docs
3. H

[2020-09-04 10:35] wtrocki commented on #1993
I was hoping to have general info on the structure of the templates - Where are the resolvers.
What can be changed and what is static etc. Getting started gives concepts and now we can link them in template with some couple sentences. Same for the client side. We need to mention config files etc.

[2020-09-04 11:40] wtrocki commented on #1993
Suggested chapters:

- What technologies are used
- Repository structure
- Running application
- Modifying server
- (in client) Adjusting to changes on the server
- (in client) Modifying client

Yep. Where are they. How to generate typings and link to docs if we have docs for it.

If there is dockerfile it might be good. If not ignore it.

[2020-09-04 14:45] wtrocki opened #1995 "Client side template for mongodb doesn't work with the client side app"

[2020-09-04 14:45] wtrocki opened #1996 "Cannot start react app without specifying skippreflight checks"

[2020-09-04 14:45] machi1990 commented on #1995
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-04 14:45] machi1990 commented on #1996
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-04 14:46] #1993 closed

[2020-09-04 15:33] #1996 closed

[2020-09-04 15:37] wtrocki commented on #1995
Wow that is a lot of labels :D

[2020-09-04 15:37] #1995 closed

[2020-09-04 16:15] craicoverflow opened #1999 "`yarn build` fails to build graphql-serve"
Running `yarn build` from the root, sometimes graphql-serve does not build successfully.

* **Module**: graphql-serve
* **Version**: 0.16.x
* **Node.js / npm versions:** NA

[code]

[2020-09-04 16:16] machi1990 commented on #1999
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-04 22:22] lastmjs commented on #1980
I've been doing quite bit of testing in my staging and production environments. I assume the fix you mentioned from https://github.com/knex/knex/issues/3464 has to do with letting the connection pool die. I fiddled with the `idleTimeoutMillis`, at 1000 and 0...my database was still overwhelmed. I also manually initialized a knex pool and destroyed it before and after calling the handler in my lamb

[2020-09-07 08:27] craicoverflow commented on #1896
Considering this would be a breaking change and a new feature, do we see this happening for a 0.17.x release?

[2020-09-07 08:47] wtrocki commented on #1896
Yep. Since this will be needed to be applied to the queries/mutations and subscriptions we can reuse this logic.

Post 1.0 release.
https://trello.com/c/1lH9SqKu/7-datasync-kafka-debezium-enabled-event-streaming-approach

The approach will be to do POC (same as datasync) without touching core or affecting graphback releases.

[2020-09-07 09:32] #1999 closed

[2020-09-07 13:36] #1963 closed

[2020-09-07 15:55] wtrocki commented on #1980
I moved out and no longer have access to the env. Using Aurora seems like the best choice in terms of efficiency and cost. Let us know how this works.

[2020-09-07 15:59] craicoverflow opened #2009 "Semantics of how the `or` operator should be used"
* **Module**: `@graphback/runtime-mongodb`, `@graphback/runtime-knex`
* **Version**: *
* **Node.js / npm versions:** NA

When combined with the `root` query operators, the `or` operator evaluates to `find X where <root query conditions> OR <or conditions>`. Take the example below. This outputs the following pseudo-query in both Postgres and MongoDB: `find Blogs where name is "blog3" or name is "bl

[2020-09-07 15:59] machi1990 commented on #2009
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-07 16:00] craicoverflow commented on #2009
Thanks for highlighting this one @machi1990 - this is in fact a bug and should be actioned ASAP.

[2020-09-07 16:23] craicoverflow commented on #1534
Let's close this - since the plugin still does generate a schema file it's fine where it is and make sense.

[2020-09-07 21:48] machi1990 opened #2011 "Support of multiple datasources"
**Is your feature request related to a problem? Please describe.**

Being able to attach certain models in one database (e.g a Postgres schema, database), and other in a different database e.g mongodb database.

**Describe the solution you'd like**

- The database should be identifiable by name when setting up the API
- The same name can be used when declaring the business model in the GraphQL sch

[2020-09-07 21:49] machi1990 commented on #2011
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-07 22:01] wtrocki commented on #2011
Totally possible now thru data providers. Based on model we can pick different data provider etc.

[2020-09-08 07:07] craicoverflow commented on #2011
Fully onboard with this. There was similar issue for the old runtime API - https://github.com/aerogear/graphback/issues/1025

[2020-09-08 07:17] craicoverflow commented on #1723
We have inferred implicit relationships through non-model annotated types being identified as embedded. However that could change in the future when we get implicit relationships added (post v1) - so then this annotation will become vital.

My vote is to update the description of this issue and give it a Hacktoberfest label.

[2020-09-08 07:18] craicoverflow commented on #1929
What is the state of this issue?

[2020-09-08 08:10] wtrocki commented on #1929
Closing. No simple way to solve it

[2020-09-08 08:10] #1929 closed

[2020-09-08 08:46] craicoverflow commented on #2009
Going to start this.

[2020-09-08 08:48] machi1990 commented on #2009
Thanks @craicoverflow

[2020-09-08 09:24] wtrocki opened #2013 "Improve documentation for our templates (mainly readme.md)"
Documentation should contain basic information about what is the picked technology: express.
What is the GraphQL technology. Apollo etc. What tools are required before development (codegen, graphback generate) and how they work into complete development workflow.

Current readme has this info but it needs to be extended.

[2020-09-08 09:24] machi1990 commented on #2013
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-08 11:16] #1981 closed

[2020-09-08 15:48] wtrocki opened #2016 "DataSync starter template as enterprise template inside graphback"
Instead of keeping repository separate we can simply have graphback template using keycloak and other services. It is already well documented and has a lots of information.

This template will be only server side and we can work on building the offix-datastore integration on top of it.

Benefits:
- One repository to rule them all.
- Easy to link between documentation
- No need for the external doc

[2020-09-08 15:49] machi1990 commented on #2016
/cc @ssd71
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-08 15:49] wtrocki commented on #2016
This will help people to get a better experience on top of the existing platforms

[2020-09-08 22:21] lastmjs commented on #1980
I will let you know. I'm looking into optimizing my queries with indexes, VACUUM and ANALYZE. That doesn't seem to be having any affect. It looks like scaling the database with read replicas or going with Aurora Serverless might be the next options. I'll keep you updated.

[2020-09-09 08:56] wtrocki opened #2019 "Validation for relationships fails on valid case"
Problem with OpenVolunteerModel

[code]

https://github.com/aerogear/OpenVolunteerPlatform/blob/master/platform/server/model/main.graphql#L38-L41

The action doesn't have a key specified and ManyToOne side has (this was just copied from the generated schema for visibility of the field in the schema)

Error is confusing as key is not there. Removing key from manyToOne will fix it.

[2020-09-09 08:57] machi1990 commented on #2019
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-09 09:29] wtrocki commented on #2019
I'm not sure if there is some fix here.

[2020-09-09 10:53] wtrocki commented on #2019
This is a bug. Little bit debugging showed me that result schema has some extra annotations generated and ends up with 2 annotations under single object:

<img width="807" alt="Screenshot 2020-09-09 at 11 52 59" src="https://user-images.githubusercontent.com/981838/92589824-0ec30e80-f293-11ea-89f1-bcb4676f0fd4.png">

[2020-09-09 10:57] wtrocki commented on #2019
So trick that I have done is:

- Generate schema
- When to schema to take generated fields and include them into model (they should be ok to be in the model.
- Generate code:

[code]

[2020-09-09 10:57] wtrocki commented on #2019
See also #2020

[2020-09-09 11:21] craicoverflow commented on #2019
What happens when you remove all manyToOne annotations from the data model? It should succeed

[2020-09-09 11:23] wtrocki commented on #2019
It will fail validation (unless this change is applied)

[2020-09-09 11:24] craicoverflow commented on #2019
Can you show me the output?

[2020-09-09 11:33] craicoverflow commented on #2019
Can you reproduce this error using the models from the templates? They are smaller and more focused so it is easier to see why the error occurs - as in OVP the model is large and there could be other schema errors.

[2020-09-09 11:59] machi1990 commented on #2019
I think this https://github.com/aerogear/graphback/blob/52014578abf4f8cd072ba971cbf116485da5b517/packages/graphback-core/src/relationships/RelationshipMetadataBuilder.ts#L292

will need changing so that it compares the two keys if they are both defined (*read as user defined values*) since if they are not defined they'll be generated with key info:
- https://github.com/aerogear/graphback/blob/5201

[2020-09-09 12:14] machi1990 opened #2023 "[Discussion]: Future of relationships"
This is an issue that kind of wraps up all the things we can improve around relationship supports:
- [ ] Review the [`RelationshipMetadataBuilder`](https://github.com/aerogear/graphback/blob/52014578abf4f8cd072ba971cbf116485da5b517/packages/graphback-core/src/relationships/RelationshipMetadataBuilder.ts),
- [ ] Properly supporting `manyToOne`, not properly documented, some validation are wrong e.g

[2020-09-09 12:15] machi1990 commented on #2023
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-09 12:56] craicoverflow commented on #2023
Thank you for creating this issue @machi1990 - this refactor has been on the cards for a while now. The current implementation is pretty hard to extend and is preventing us from easily adding direct many-to-many relationships and implicit relationships.

[2020-09-09 13:00] craicoverflow commented on #2019
That sounds better - this way you could have a manyToOne annotation with the key property and it would get updated, am I right?

I think these patches we make to `RelationshipBuilder` will not make the class any easier to work with, and I wonder whether #2023 should be focused on, as this particular issue raised I don't think is the root of the problem.

[2020-09-09 13:03] machi1990 commented on #2019
+1 on this.

[2020-09-09 13:12] wtrocki commented on #2023
Awesome work @machi1990 and @craicoverflow . Now we can make this work with context of all issues we see

[2020-09-09 13:14] machi1990 commented on #1843
@lastmjs ping, I was thinking about this issue again and was wondering if you take a look at https://github.com/aerogear/graphback/issues/1843#issuecomment-678524738 and https://github.com/aerogear/graphback/issues/1843#issuecomment-678554357, thanks :-)

[2020-09-09 13:20] machi1990 commented on #1675
Was revisiting this issue again and evaluating the need to do this for `@index`, and came to the conclusion that [createIndexes.ts](https://github.com/aerogear/graphback/blob/ecf2e2ae1bbf28a681ff94964a8f967a7deaf4bb/packages/graphback-runtime-mongodb/src/utils/createIndexes.ts) is too specific for mongodb and there won't be much benefits in exposing the indexes on a `ModelDefinition`. Going to clo

[2020-09-09 13:20] #1675 closed

[2020-09-09 13:22] machi1990 commented on #1582
Ah totally missed this in the pile of notifications I receive. Sorry for the late reply.

@ssd71 would you have a suggestion? A snippet code maybe that can drive the discussion?

[2020-09-09 13:25] machi1990 commented on #1461
+1.

We won't be generating filter for every enum for now as it overly verbose and overkill. However this can be revisited later I'd say.

[2020-09-09 13:25] #1461 closed

[2020-09-09 13:28] ssd71 commented on #1582
@machi1990
I remember being lost on this and haven't thought about it since, sorry :P

[2020-09-09 13:40] machi1990 commented on #1355
This can be achieved currently with:
- The [SchemaPlugin#addVersionedMetadataFields](https://github.com/aerogear/graphback/blob/94d66e1f87d24eea42925a9579df94afe7bbff30/packages/graphback-codegen-schema/src/SchemaCRUDPlugin.ts#L350). The only requirement is to annotate the model with `@versioned`.
- The [GraphQL Migrations](https://graphback.dev/docs/graphql-migrations/intro) which has to be appli

[2020-09-09 13:40] #1355 closed

[2020-09-09 13:46] machi1990 commented on #1582
Hi @ssd71 good to read from you. Thanks for chiming in.
Okay, I'll let you decide the best course of action regarding this issue ;-)

[2020-09-09 13:51] wtrocki commented on #1582
Closing. While it is ackward to extend stuff we are feature complete on it. Any change will affect user API so best to keep it this way

[2020-09-09 13:51] #1582 closed

[2020-09-09 18:26] lastmjs commented on #1980
After all of my testing, the best path forward seems to be Aurora Serverless with the Data API. The Data API claims to abstract away connection handling. I'll be extensively testing it in my staging environment. If it looks promising, I'll most likely be moving forward with it.

The problem now is how to hook up Graphback to use the Data API. It is an HTTP API that accepts SQL queries directly. I

[2020-09-10 10:28] machi1990 commented on #1758
I'll look into dockerising the benchmark tests and provide a onetime script to launch it.

[2020-09-11 10:01] wtrocki opened #2033 "Custom resolvers info object needs to be better documented"
Issue from https://github.com/aerogear/OpenVolunteerPlatform/pull/153:

Better documentation is needed.

[2020-09-11 10:02] machi1990 commented on #2033
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-11 12:20] wtrocki opened #2035 "Graphback templates improvments"
## Templates should have separation of concerns

When using Graphback templates we geting index.ts file that has multiple elements and concerns that developers need to read. It will be much better to have graphback.ts file

See example PR that has this:
https://github.com/RedHat-Middleware-Workshops/rhtr-2020-api-mgmt-kafka-workshop/pull/3

Additionally, we could extract migrations and have this a

[2020-09-11 12:21] machi1990 commented on #2035
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-11 12:33] machi1990 commented on #2035
Very good issue. Thank you for opening it.

I think in this template we can push for a "certain" architecture / project structure. E.g instead of having a `db.ts` file, maybe we can have a `create-data-provider.ts`, something self explanatory, with clear separations of folders to indicate a structure / organisation.

/!\ Thinking out loud.

Do you see this issue superseding #2016?

[2020-09-11 13:00] craicoverflow commented on #2035
In my view, the current templates are "starting points" and do need need to push a certain architecture. From experience I dislike when templates have a certain architecture which I don't plan on keeping, it then creates more work for me. I would like to see an opinionated, production/enterprise template though, this can have more stuff and be more organised.

- `ts-apollo-mongodb-basic-backend`
-

[2020-09-11 13:09] machi1990 commented on #2035
I agree with you on templates being a "getting-started" and very fine with what we already have as a getting started. Having a different flavour, with a bit more structure, an example Dockerfile, testing, and possibly other scripts that reflects like one will encounter in a modern web API. The idea is to show more than just setting up a Graphback API,
- but how the project can be organised (this i

[2020-09-11 13:19] machi1990 commented on #2035
This is a good starting point but I see things like testing, which is core, are missing

[2020-09-14 10:04] craicoverflow opened #2047 "Second database migration throws an error"
* **Module**: `graphql-migrations`
* **Version**: 0.16

This occurs when the primary key field is NOT "id" - it fails on `uuid: ID`, `_id: ID` etc.

[code]

[2020-09-14 10:05] machi1990 commented on #2047
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-14 10:07] craicoverflow commented on #2047
I think we need an automated test or unit test that covers consecutive migrations like this.

[2020-09-14 11:47] machi1990 commented on #2047
Looks like the diff algorithm needs some love :-)

[2020-09-14 13:41] craicoverflow opened #2048 "[Enhancement idea] Move the Mongo and Knex query builders upstream into their own project"
**Describe the solution you'd like**

The Knex query mapper and Mongo query mapper implementations are really useful to Graphback but they could also be valuable as upstream projects (outside of the Graphback monorepo) so they can be easily imported into other Node.js projects looking to use GraphQLCRUD in their projects.

Since these are fairly hidden nobody will know about them unless they are u

[2020-09-14 13:41] #2009 closed

[2020-09-14 13:41] machi1990 commented on #2048
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-14 14:28] craicoverflow commented on #1877
Going to close this one, as we are constantly improving out automated tests. feel free to open again!

[2020-09-14 14:28] #1877 closed

[2020-09-14 14:34] craicoverflow commented on #1843
Closing as this looks to be resolved, but reopen if I am wrong on that.

[2020-09-14 14:34] #1843 closed

[2020-09-14 14:36] craicoverflow commented on #2019
Closing as the case was valid and working as intended (it actually caught an invalid relationship association in the model). There is an issue #2023 to track a general improvement of relationships.

[2020-09-14 14:36] #2019 closed

[2020-09-14 14:37] craicoverflow commented on #328
Closing as duplicate of #2023

[2020-09-14 14:37] #328 closed

[2020-09-14 14:38] craicoverflow commented on #1743
GraphQL Serve does not generate a client, so what's the point?

[2020-09-14 14:41] #1743 closed

[2020-09-15 10:12] machi1990 opened #2052 "Automate changelog / release notes generation"

[2020-09-15 10:12] machi1990 commented on #2052
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-15 10:26] #1931 closed

[2020-09-15 10:28] craicoverflow commented on #1954
https://graphback.dev/docs/cli/graphback-cli

[2020-09-15 12:29] machi1990 opened #2054 ""npx graphback-cli generate" throws an error"
* **Module**: graphback-cli
* **Version**: 0.16.2
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

[code]

[code]

@craicoverflow I know you once encountered a similar issue, not sure if its related so opening this here to see if we are planning to do anything about it.

[2020-09-15 12:29] machi1990 commented on #2054
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-15 12:31] craicoverflow commented on #2054
This is expected, users will have to run `yarn graphback generate` from inside their template for it to work. I see this as a docs issue.

[2020-09-15 12:35] machi1990 commented on #2054
Sure, it what I have gone with when documenting the generate command #2053.

But id the project is missing `graphql`, it will still err right? What would be the impact of making  `graphql` a dependency in the cli?

[2020-09-15 12:36] craicoverflow commented on #2054
Yes it would also error, the template will need graphql installed to use the generate command

This would fix the CLI to a certain version, the CLI might have v15 of graphql but the user uses v14, these are incompatible.

[2020-09-15 12:44] machi1990 commented on #2054
I think I've that explicit-ed in the docs.

Sure, I am going to close this as docs will indicate how to use the cli.

[2020-09-15 12:44] #2054 closed

[2020-09-15 13:36] #1954 closed

[2020-09-16 09:23] RinkiyaKeDad commented on #2013
Hi! I'm new to this repo and would like to work on this issue. Can you point me in the right direction? Apart from the mentioned stuff in the issue what all should I include in the README?

[2020-09-16 11:02] wtrocki commented on #2013
@RinkiyaKeDad Hi. Thanks for reaching out.
Our repo templates contains readme:
https://github.com/aerogear/graphback/tree/master/templates

Readme needs to have more information about what technologies are used for testing, code generation etc. Similairly to https://github.com/facebook/create-react-app

[2020-09-16 11:20] RinkiyaKeDad commented on #2013
Thanks for responding @wtrocki. As far as I understand the READMEs in all four of the folders need to updated. I'll be starting with the 'ts-react-apollo-client' one first. I'm a bit new to this so would like to confirm that I'm to fork the repo, make the changes in the readme and create a pull request right?

[2020-09-16 11:23] craicoverflow commented on #2013
Hey @RinkiyaKeDad! Thanks for offering to help us out! Have you used Graphback before? I would first suggest playing around with Graphback and using the templates to get an understanding of how they work.

Yes, you fork the repo, create a new branch and create a PR!

[2020-09-16 11:30] RinkiyaKeDad commented on #2013
Hi @craicoverflow! I thought of using Graphback but hesitated since I have never used TypeScript before. But I'll follow your suggestion and try again in order to get a better understanding before I begin updating the README.

[2020-09-16 11:30] craicoverflow commented on #2013
Have you used JavaScript before?

[2020-09-16 11:32] RinkiyaKeDad commented on #2013
Yes I have.

[2020-09-16 14:22] craicoverflow commented on #2013
That's great - to use the templates JavaScript knowledge should be sufficient - TypeScript is a superset of JavaScript so they are very similar.

[2020-09-16 15:24] wtrocki commented on #1819
I did not get any answer from @aexol thru email, github or email. I will look if we can build something similar to satisfy our needs for serverless environments.

[2020-09-16 15:24] #1819 closed

[2020-09-16 17:21] RinkiyaKeDad commented on #2013
I have added a section of dependencies in the README where I've briefed about GraphQL, Apollo Client and Material UI. But I'm not quite sure what this line means? I see that there is a generate script in the package.json,
```  "generate": "graphback generate && graphql codegen" ```
So from what I understand till now ``` graphback generate``` is to regenerate the files after some changes have been

[2020-09-16 17:47] wtrocki commented on #2013
Amazing questions! Absolutely love that you have reached out and helped us as this really shows that.. in fact we need better README.md

For graphback generate see:
https://graphback.dev/docs/cli/graphback-cli

For codegen generate see:
https://graphql-code-generator.com/

[2020-09-16 18:29] machi1990 opened #2061 "add fault tolerance plugin"
**Is your feature request related to a problem? Please describe.**

Resiliency against failure e.g ability to retry a database query that times intermittently, ability to timeout a database query that takes some time to execute, falling back to executing a cached query / function after several errors

**Describe the solution you'd like**

a plugin that declares:
- `@retry`, `@timeout`, `fallback`

[2020-09-16 18:30] machi1990 commented on #2061
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-16 18:38] wtrocki commented on #2061
You reading my mind don't you? And have been on fire today!
Thank you for logging this issue as I had this somewhat planned when dealing with production ready template.

I would look for doing this first as bringing more opiniated approaches into graphback might drive off some community. We have multiple ways to compose things (including services) and that might work.

Sorry for snapping issue. We

[2020-09-16 18:45] machi1990 commented on #2061
+1 this is a good idea.

Sure, that's the whole idea of opening this issue, to get the discussion going.

[2020-09-17 08:57] machi1990 opened #2065 "offer a plain fastify template"
**Is your feature request related to a problem? Please describe.**

There is no fastify template, we can add two:
- mongo based one
- postgres based one

**Describe the solution you'd like**

You can checkout https://github.com/aerogear/graphback/blob/99bb8102cf95482fd70efeddba772c2019ae8391/performance/benchmarks/graphback-fastify.js#L1-L27

on how to setup the Graphback with [fastify-gql](https:

[2020-09-17 08:58] machi1990 commented on #2065
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-17 10:47] machi1990 opened #2066 "remove old versions from website"

[2020-09-17 10:48] machi1990 commented on #2066
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-17 10:56] wtrocki commented on #2065
I have tried to do it in graphback first. It feels like there is will be sooo many templates with repeating stuff. All our templates are express.js without mentioning it. I'm questioning if we really need express at this point (having proper justification and link to screenshot in the readme can work here really well and it will make all our templates production ready.

@craicoverflow @machi1990 W

[2020-09-17 10:59] wtrocki commented on #2065
Actually I have found critical bug when doing this. Our subscriptions seem to be working only with Apollo (using graphql-express, and subscriptions have different format).
Since just this morning recent announcement of the new library that fixes all the issues in subscriptions it makes sense to change all of this stuff. It will not be breaking peoples code so it can be post 1.0 no problem

[2020-09-17 11:00] RinkiyaKeDad commented on #2013
Thanks a lot @wtrocki! Have gone through them a created a PR for the README of the React Template. Please suggest me what more can I imporve in the README.

[2020-09-17 11:09] craicoverflow commented on #2023
I've found that relationships caused issues with duplicate relationships, so could not complete #2057

In my attempt to allow implicit relationships in https://github.com/aerogear/graphback/pull/1873/files I had refactored relationships so that they would be stored in a config map, instead of an array. This gives many benefits, including:

- No duplication of relationships since the key is unique

[2020-09-17 11:12] machi1990 commented on #2023
+1, a very good idea.

[2020-09-17 11:43] craicoverflow commented on #2066
Yeah, I think once we reach v1 stable we can remove anything that predates that

[2020-09-17 11:45] machi1990 commented on #2065
I think it's fine as long as they are offering different flavours of dbs or http servers

Cool.

[2020-09-17 11:55] #2033 closed

[2020-09-17 15:04] machi1990 opened #2070 ""Error: 'Subscription' defined in resolvers, but not in schema" when subscriptions are disabled"
* **Module**: schema-plugin
* **Version**: 0.16.2
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

Subscription disabled with
[code]

[2020-09-17 15:05] machi1990 commented on #2070
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-17 15:05] machi1990 commented on #2070
/cc @evanshortiss for additional context

[2020-09-18 10:17] #2047 closed

[2020-09-18 10:25] craicoverflow commented on #1900
This is one month old - should it be left open?

[2020-09-18 10:29] wtrocki commented on #1900
It is huge problem. Just no time to fix it :)

[2020-09-18 10:33] #2070 closed

[2020-09-18 11:18] wtrocki opened #2076 "Datasync cannot be used as plugin for generating schema to file."
Due to different name loading datasync plugin from core is not possible.
Using package name is also not possible due to `@` sign.

Error:
Cannot find module '@graphback/codegen-datasync'

er/.graphqlrc.yml:
Plain value cannot start with reserved character @ at line 26, column 7:

[2020-09-18 11:18] machi1990 commented on #2076
/cc @ssd71
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-18 11:26] craicoverflow commented on #2070
Patch available in https://github.com/aerogear/graphback/releases/tag/1.0.0-beta2

[2020-09-18 11:27] craicoverflow commented on #2047
Patch available in https://github.com/aerogear/graphback/releases/tag/1.0.0-beta2

[2020-09-18 11:59] craicoverflow commented on #2076
This format would work well

[code]

but since the plugin config is strongly associated with GraphQL CLI, this would be a major change, so the backward compatible suggestion proposed in #2077 is the best solution!

[2020-09-18 12:09] wtrocki opened #2079 "DataSync - creating new object is not assigning _version field properly."
WHen creating item I would expect version to be:

returned and 1. I get version as null all the time.

[2020-09-18 12:10] wtrocki commented on #2079
@ssd71 Is this a bug or somewhat clients should pass _version to server as 1 all the time?

[2020-09-18 12:10] machi1990 commented on #2079
/cc @ssd71
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-18 12:52] craicoverflow commented on #2052
We could consider a bot that does all: handles release and changelog generation.

See https://github.com/semantic-release/semantic-release as a good example. I was particularly impressed by it, as it adds a comment to issues with linked PRs to information the OP what version their fix/feature was included in. It is worth investigating.

[2020-09-18 12:57] machi1990 commented on #2052
Impressive. Can we try it out?

[2020-09-18 12:59] craicoverflow commented on #2052
Sure, I plan to do so once I get on top of some new issues in Graphback - our focus now is finding those bugs.

[2020-09-18 13:29] wtrocki commented on #2079
I haven't used official api. There are two ways to create datastore. Seems like duplicate of the issue created by @ssd71 anyway.

[2020-09-18 20:05] wtrocki opened #2083 "init method for graphback on the website is broken"
* **Module**:
* **Version**:
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

[2020-09-18 20:05] wtrocki commented on #2083
critical issue

[2020-09-18 20:06] machi1990 commented on #2083
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-18 20:12] machi1990 commented on #2083
Fixed by https://github.com/aerogear/graphback/pull/2084

[2020-09-18 20:12] #2083 closed

[2020-09-19 20:51] wtrocki opened #2086 "Add categories to templates - community, external etc."
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please describe alternative solutions or features you have considered.

[2020-09-19 20:52] machi1990 commented on #2086
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-09-21 07:54] RinkiyaKeDad commented on #2013
Hey before I start working on the other READMEs, I wanted to ask that if something is similar across the templates is it fine if I use the same descriptions or is it prefered to re-write it? Like if lets say another template also uses React then can I copy over what I wrote for React in the previous README?

[2020-09-21 07:59] craicoverflow commented on #2013
You can likely reuse some bits of information from the React template around Graphback, but since all the other templates are backend templates, the content will be pretty different overall.

[2020-09-21 08:04] RinkiyaKeDad commented on #2013
Got it!

[2020-09-21 08:39] machi1990 commented on #2076
Was this fixed by https://github.com/aerogear/graphback/pull/2077?

/cc @craicoverflow @wtrocki

[2020-09-21 08:44] craicoverflow commented on #2076
Yes :+1:

[2020-09-21 08:44] #2076 closed

[2020-09-21 10:27] wtrocki commented on #2086
More context here. We will be working with partners to try out their work and we need a way to include their templates into graphback for recognition and also association with technologies we cannot or have time to investigate.

[2020-09-21 10:49] craicoverflow commented on #2086
Would the templates live in the repo, or will they be pulled from multiple sources, so that they do not all need to live inside the repo?

[2020-09-21 11:31] wtrocki commented on #2086
Never in the repo. Entire concept will be to have them as community ones that might get outdated etc. after a while.

[2020-09-21 11:38] machi1990 commented on #2086
We already have the ability to indicate template's url https://github.com/aerogear/graphback/blob/375dc5105455a4ee5c29c5db70634c7cdc693443/packages/create-graphback/src/index.ts#L28

If I understood correctly, the use case here is to be able to indicate that an template is a community provided or an external template if the url does not match graphback's templates repository?

[2020-09-21 11:39] craicoverflow commented on #2086
IIRC that flag does not work.

[2020-09-21 11:39] wtrocki commented on #2086
Ah.. idea here is to actually embedd them into some separate json file that people can edit and list them on init (but with header - those are community maintained).
So people can get something they feel familiar with.

[2020-09-21 11:42] machi1990 commented on #2086
Even better.

[2020-09-21 14:55] RinkiyaKeDad commented on #2013
Was going through the mongodb template files. ```yarn generate``` there too has the same funtionality as far as I could understand, right?

[2020-09-21 15:00] wtrocki commented on #2013
Yep. It was shortcut to not explain complexities of using 2 tools.

[2020-09-21 18:47] RinkiyaKeDad commented on #2013
So should I use the same explanation?

[2020-09-21 21:58] shivambhatia5432 commented on #1965
Hi, I would like to take this issue can you guide me in right direction.

[2020-09-22 07:12] craicoverflow commented on #1965
Hi @shivambhatia5432 - the issue description should hopefully have enough information for you to get started. The best thing to do is understand what Graphback does by looking at [our docs](https://graphback.dev/docs/next/introduction).

This issue specifically is located in the [ClientCRUD Plugin](https://graphback.dev/docs/next/plugins/crud-client). You can find this in the `graphback-codegen-cl

[2020-09-22 08:34] craicoverflow opened #2099 "Keycloak Relationship Authorization does not appear to work as described in docoumentation"
* **Module**: `@graphback/keycloak-authz`
* **Version**: 1.0.0-beta*

According to the [Keycloak-Authz Relationship Authorization documentation](https://graphback.dev/docs/next/authentication/keycloak/#relationships-autorization) I can apply authorization restrictions on one-to-many fields, like the example below:

[code]

Take a look at my auth config below. `Note.comments` is a one-to-many field

[2020-09-22 08:34] machi1990 commented on #2099
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-22 09:01] craicoverflow commented on #2013
Yes you can. The best thing to do is create a PR and we can review whether it needs to be adjusted from there.

[2020-09-22 09:15] evanshortiss commented on #2070
Haven't had a chance to test yet but will ping you guys when we update builds. Thank you 🥳

[2020-09-22 09:34] #2079 closed

[2020-09-22 09:38] craicoverflow commented on #2099
@craicoverflow update docs

[2020-09-22 09:39] craicoverflow commented on #2066
Remove < 0.14x

[2020-09-22 11:54] craicoverflow opened #2102 "There is no Fullstack DataSync template available to choose in CLI"
* **Module**: create-graphback
* **Version**: 1.0.0
* **Node.js / npm versions:**

I would expect to be able to choose a FullStack DataSync template, but there is none. Is this by design or is it an oversight?

[code]

[2020-09-22 11:54] craicoverflow commented on #2102
@wtrocki do you know if this needs to be added?

[2020-09-22 11:54] machi1990 commented on #2102
/cc @ssd71
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-22 13:17] craicoverflow opened #2103 "Could not find a declaration file for module 'bson'"
* **Module**: `@graphback/core`
* **Version**: *
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

This error occurs when I run `yarn build` from the Postgres template

[code]

[2020-09-22 13:17] machi1990 commented on #2103
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-22 13:28] craicoverflow commented on #2099
Temporary fix added in #2101

[2020-09-22 13:35] wtrocki commented on #2102
Design. Current template will be replaced by datasync-starter enterprise one with datasync capabilities.

[2020-09-22 13:36] #2102 closed

[2020-09-22 13:45] machi1990 commented on #2103
Does the error occur too when the template is outside the Graphback repo?

[2020-09-22 13:47] craicoverflow commented on #2103
I only experienced this when outside the repo - I am doing all testing of templates in isolation.

[2020-09-22 13:57] machi1990 commented on #2103
Okay, thanks for clarifications.

[2020-09-22 14:22] #2103 closed

[2020-09-22 14:49] machi1990 commented on #2099
@craicoverflow thanks. Looks like the fix just landed in master. What I see here:
- Either close the issue as now everything works as designed
- Change issue title to what would be desirable way of doing things.

/cc @wtrocki

[2020-09-22 14:51] wtrocki commented on #2099
I would love to get back to it once 1.0 dust will settle.

[2020-09-22 14:55] shivambhatia5432 commented on #1965
Hi, can you please elaborate the issue I am on exact same line and file you are talking about, I cannot understand meaning of " to be inline with `q`." as I am not able to generate Graphback query.
Thanks for assigning me this issue.

[2020-09-22 15:04] craicoverflow commented on #1965
Are you in the `graphback.graphql` file? This file is generated when you run `yarn graphback generate` from the template. The ClientCRUDPlugin is a plugin which generates this code and writes it to the `graphback.graphql` file.

Sorry, I should be more clear. The closing bracket should be at the same indentation level as the `q` from the start of `query findNotes`.

The templates are created in ht

[2020-09-22 15:43] craicoverflow opened #2105 "How do I generate updated client documents and fragments for data synchronization?"
The `DataSyncPlugin` updates the schema with the following:

- `sync<T>` queries for each of the models with data sync enabled
- updates the models with new fields, such as `_version`, `_lastUpdatedAt`
- Adds new container types for deltas

However there is no plugin available to generate the associated client-side queries and update the fragments.

[2020-09-22 15:43] machi1990 commented on #2105
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-22 15:54] wtrocki commented on #2105
Offix DataStore works with those out of the box. There is actually a lots of extra handling required on the client to handle those so generating just queries makes no sense for us.

[2020-09-22 15:54] #2105 closed

[2020-09-22 15:55] craicoverflow commented on #2105
Thanks.

[2020-09-22 17:13] shivambhatia5432 commented on #1965
![Screenshot 2020-09-22 at 10 42 34 PM](https://user-images.githubusercontent.com/50217679/93914956-ee7c6080-fd24-11ea-9ec2-c9d8794afe1d.png)
Issue while running yarn graphback generate

[2020-09-22 17:27] wtrocki commented on #1965
Templates are in the workspace. You need to issue this command in the actual template folder.
Generate generates only in single template etc.

[2020-09-22 18:37] shivambhatia5432 commented on #1965
I think I have corrected the issue please check at pull request #2107 , this is my first open source contribution so thank you for helping me and I would love to contribute more to your organisation.

[2020-09-22 19:25] wtrocki commented on #1965
@shivambhatia5432 Thank you for creating that. You can always join our community chat if you have any questions: https://discord.com/invite/mJ7j84m

[2020-09-23 11:17] machi1990 opened #2113 "Issue with setting up subscriptions"
* **Module**: 1.0.0-beta5
* **Version**: core
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

[code]

I want to activate subscriptions only with the above business model but it fails with:

[code]

If I change the mode to activate at least one query type generation e.g by generate a find all queries

[code]
I am getting

[code]
I believe this is related to https

[2020-09-23 11:17] machi1990 commented on #2113
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-23 11:30] wtrocki commented on #2113
@machi1990 workaround for this is to add empty query type in model. In practical scenarios this problem will not exist.

[2020-09-23 11:32] machi1990 commented on #2113
Yeap, I know. That's what I am using now to get me moving.

[2020-09-23 11:34] craicoverflow commented on #2113
`Error: Query root type must be provided.` this error comes from GraphQL library - a schema without a Query root type is not valid. I'm wondering if it is something we should not even consider looking to "fix"?

Strange, thought that was resolved, I will take a look.

[2020-09-23 11:42] wtrocki commented on #2113
This is happening only for graphql 0.14.0 (0.15 graphql schema doesn't require query to be there). Confirmed in datasync starter.

[2020-09-23 11:53] craicoverflow commented on #2113
I am seeing the error happening in the templates right now which use 15.3.0:

[code]

[2020-09-23 11:57] machi1990 commented on #2113
If we have a fix in place that would be welcomed e.g having an empty `type Query {}` etc.

[2020-09-23 11:58] craicoverflow commented on #2113
GraphQL did not like that:

[code]

[2020-09-23 12:03] machi1990 commented on #2113
Ouuch.. what about `type Query` will work as an empty query object? Otherwise, we can close the issue for subscriptions and direct users to a workaround as it is more an upstream issue.

[2020-09-23 12:06] #2113 closed

[2020-09-23 13:24] craicoverflow commented on #1896
This appears to be resolved, closing (reopen if I am wrong)

[2020-09-23 13:32] craicoverflow commented on #2113
Fix available in https://github.com/aerogear/graphback/releases/tag/1.0.0-beta6

[2020-09-23 15:44] machi1990 commented on #1896
This solves only a part of it, but  there is not ability to not publish changes from within the application.

See https://github.com/aerogear/graphback/blob/1f51f285a2c4dc22a5d8eba6f8b0487f9a5f7e60/packages/graphback-core/src/runtime/CRUDService.ts#L54

You can play with [this repository](https://github.com/aerogear/datasync-example) especially this commit https://github.com/aerogear/datasync-exam

[2020-09-23 15:50] craicoverflow opened #2117 "[Error: "Mutation" defined in resolvers, but not in schema]"
* **Module**: `@graphback/datasync`
* **Version**: 1.0.0-beta*
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

This error is occurring when the DataSync plugin is used but mutations are disabled.

https://github.com/aerogear/graphback/blob/8763612f240a59cd15c011333c7d6fab530050ec/packages/graphback-datasync/src/DataSyncPlugin.ts#L79-L84

This should be fixed in

[2020-09-23 15:51] machi1990 commented on #2117
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-23 16:05] craicoverflow opened #2118 "DataSyncPlugin assumes presence of types generated by SchemCRUDPlugin"
* **Module**: `@graphback/datasync`
* **Version**: *
* **Node.js / npm versions:**

When CRUD flags are disabled, input types are not generated and are unavailable to non-core plugins:

[code]

I think we need to generate all input types regardless of whether they are used in SchemaCRUDPlugin, and only strip them at the very end of the plugin chain, if possible.

[2020-09-23 16:05] machi1990 commented on #2118
/cc @ssd71
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-23 16:33] machi1990 opened #2119 "[Discuss]: document an example of how PubSubEngine or a GraphbackCrudService can be used to achieve async / event bound tasks"
This builds on https://github.com/aerogear/graphback/issues/1896 but can be documented separately.

With the crud Event emission mechanism we've in place, once can achieve so many event based operations e.g

If we take the `Meter` business model from an IOT world
[code]

One usecase will be to send a notification once:
- a new meter is up ("created"),
- a meter is moved position "updated"
- or a m

[2020-09-23 16:33] machi1990 commented on #2119
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-23 16:36] wtrocki commented on #1896
In production ready scenario streaming platforms will never support edits (because data is stream) so we will always have 2 pubsub engines - one for  the classical pubsub and one that is done specifically to some model that works for streaming only. If we going to get that into officially supported scenario separate annotations might be needed.

[2020-09-23 16:41] machi1990 commented on #1896
I think we should support this usecase by splitting the `subXXX` annotation key into two:
- `pubXXX` once this is activated, we'll allow publishing of the changes.
- and `subXXX` once this is activated, we'll create the corresponding Subscription type in the schema, and subscribe to changes only (no publish).

The current situation is that `subXXX` is responsible of both the publishing and subscri

[2020-09-23 16:43] wtrocki commented on #2119
If we move to streaming platform use case we will naturally diverge from topic being implementation detail and changing it being advanced feature (https://graphback.dev/docs/subscriptions/intro#changing-subscription-topics) to topic creation method being required for each model (or even schema based)

Solved by extracting topic creation process to template (this is hackend on datasync starter and

[2020-09-23 16:44] wtrocki commented on #1896
Yep. This is how our competion seems to be doing subscriptions at the moment.

[2020-09-23 16:58] wtrocki commented on #2023
I have had chance to review relationships as I needed information form graphback that field is an relationship and sadly could not use it because of the way we do it (we build all relationships and there is no single helper to determine relationship for the model.

Ended up writing my own helper detached from the core.

[2020-09-23 18:53] machi1990 opened #2120 "What's the plan around query pluralization?"
Pluralizing queries force someones to understand different exceptions that can come with pluralizing.

E.g

[code]

resulted in

[code]

which is very confusing as an average english user I'd start asking myself where did this `findPeople` come from?  Why not `findPersons` which seem more formal.

Another example.
[code]

which gives,

[code]

Which got me asking: If I've a model like that, how do

[2020-09-23 18:54] machi1990 commented on #2120
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-23 19:13] wtrocki commented on #2120
You are genius! I would love to kill it but is this an huge impact on everything

[2020-09-24 07:11] craicoverflow commented on #2120
To me `listTask` still sounds very much like you want to list a single item. The singular noun form `Task` tells me more about whether you want 1 or many Tasks, and in this case it sounds like I want one.

`taskList` would be a more natural way of listing multiple tasks while still keeping the singular form.

[2020-09-24 07:31] machi1990 commented on #2120
Thanks for chiming in @craicoverflow

I read it as `list elements of Task entity/model`.

`taskList` sounds like a noun or something and "not an action" since it is missing the verb part hence `listTask`, the `list` here being an action.

[2020-09-24 07:56] machi1990 commented on #2120
Also it does not have to be a breaking change, we can deprecate the pluralised form with the `@deprecate` directive, support it for the whole of 1.x.x release.

Everytime the old pluralised resolver is called, we could print a warning log that this is deprecated and it will be removed in the future release while suggesting to use the new way - whichever that will be.

[2020-09-24 14:26] #2117 closed

[2020-09-24 16:18] #2066 closed

[2020-09-24 16:37] RinkiyaKeDad commented on #1965
Hey! Is someone still working on this issue? If not then I'd like to try and solve it.

[2020-09-25 10:13] craicoverflow commented on #1965
I've updated the issue description with a guide on how to test your changes.

[2020-09-25 10:14] craicoverflow commented on #2013
Fixed by @RinkiyaKeDad - amazing work!

[2020-09-25 10:14] #2013 closed

[2020-09-25 10:38] machi1990 commented on #2013
Thanks @RinkiyaKeDad for the amazing contributions. Looking forward to many more from you <3

[2020-09-25 10:56] craicoverflow opened #2127 "Website has a typo"
[graphback.dev](https://graphback.dev) has a typo in the sidebar:

`Databases > Overiew`

[2020-09-25 10:57] machi1990 commented on #2127
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-09-25 11:21] apoorvakumar2306 commented on #2127
@craicoverflow can I work on this issue?

[2020-09-25 11:23] craicoverflow commented on #2127
Hi @apoorvakumar2306 thank you so much for looking to help out with the Graphback project! We would love if you could work on this issue. Could you give Graphback a :star: ?

[2020-09-25 11:28] apoorvakumar2306 commented on #2127
Thank you @craicoverflow . Looking forward to solve other issues too.

[2020-09-25 11:32] apoorvakumar2306 commented on #2127
Thank you @craicoverflow . I would love to work on this issue.

[2020-09-25 11:34] craicoverflow commented on #2127
Great, you can begin working on it whenever suits you. Just open a PR and we will review it.

[2020-09-25 11:51] RinkiyaKeDad commented on #2013
Thanks :) Will surely be contributing more.

[2020-09-25 11:53] craicoverflow commented on #2013
That's great to hear! :+1:

[2020-09-25 12:14] apoorvakumar2306 commented on #2127
@craicoverflow @machi1990 @wtrocki  It looks like some guy has already raised a PR without any discussion or approval of maintainer. Should I close my PR or not?

[2020-09-25 13:16] craicoverflow commented on #2127
Thanks for your contribution @apoorvakumar2306! Your code got merged :rocket:

Generally we do not need to discuss or approve you working on an issue beforehand, as different people can have different ideas, so we do not want to limit them to just one person.

[2020-09-25 14:03] machi1990 commented on #2127
This has been fixed by #2128 #2129

[2020-09-25 14:03] #2127 closed

[2020-09-29 13:49] RinkiyaKeDad commented on #2065
Hi @machi1990 I would like to work on this. Could you please answer a few question I have regarding this?
1. What does the code in ```graphback/performance/benchmarks/graphback-fastify.js``` do? As far as I know graphback doesn't have a fastify template so how does this file relate graphback and fastify.
2. In order to begin creating the template should I just follow this structure of https://gith

[2020-09-29 14:38] wtrocki commented on #2065
We have performance tests that use template but we do not have template that uses it.
So this is equivalent to saying that we can do things really fast but only if we have X ( and this X means fastify template.

From my personalized point of view I would prefer to migrate current templates out of express as express itself have been struggling with merges and community and overal is very stagnant.

[2020-09-29 14:39] wtrocki commented on #2065
To answer second question - you can change and rename apollo templates to fastify. It will be much better/easier instead of creating new ones.

[2020-09-29 16:40] machi1990 opened #2133 "PubSub engine created even when all subscriptions options on the @model are `false`"
* **Module**: `graphback`
* **Version**: 1.0.1
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

 1.  https://github.com/aerogear/graphback/blob/72b64ebe2b00777d831bc771b5eb052e89dd024a/packages/graphback/src/buildGraphbackAPI.ts#L126
2. https://github.com/aerogear/graphback/blob/72b64ebe2b00777d831bc771b5eb052e89dd024a/packages/graphback-datasync/src/services/cre

[2020-09-29 16:40] machi1990 commented on #2133
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-30 07:26] ThirumlaDevi commented on #1195
@craicoverflow Thanks to the [contribution guidelines](https://github.com/aerogear/graphback/blob/master/CONTRIBUTING.md) I'll be able to make this change and test it. I would like to solve this issue as part of the hacktoberfest event, Can you please assign this task to me?

[2020-09-30 08:04] craicoverflow commented on #2133
What if the user brings their own subscriptions, either through a plugin or by writing custom resolvers.
Would it be better again to detect if there is a `Subscription` type in the schema, and only instantiate it in this case?

[2020-09-30 08:05] craicoverflow commented on #1195
Sure thing @ThirumlaDevi I have assigned you for now. Thanks!

[2020-09-30 08:10] wtrocki commented on #1195
https://github.com/sclorg/postgresql-container images to use

[2020-09-30 08:14] wtrocki commented on #2133
Wait - those are InMemory PubSub created in DataSync without option to override them.

[2020-09-30 08:19] craicoverflow commented on #2133
No - you do not see the lines above/below; it is the default which can be overridden.

https://github.com/aerogear/graphback/blob/72b64ebe2b00777d831bc771b5eb052e89dd024a/packages/graphback-datasync/src/services/createDataSyncService.ts#L21-L25

[2020-09-30 08:26] machi1990 commented on #2133
Makes sense, but it's much better for us to advocate the usage of configuration knobs i.e I do not see the point of a user bringing in their own CRUD subscription even if all the subscription options are disabled. That's sounds like by passing our setup and in this case,the users are in the land of their own and can instantiate the pubsub engine as they see fit.

[2020-09-30 10:45] ThirumlaDevi commented on #1195
@wtrocki When i referred to the [link](https://github.com/sclorg/postgresql-container) PostgreSQL [versions](https://github.com/sclorg/postgresql-container#versions) other than 11.x version is supported by this repo. In reference to this [comment](https://github.com/aerogear/graphback/issues/1195#issuecomment-678235395), i believe i can still try and upgrade Postgres Docker templates to version 12

[2020-09-30 10:50] wtrocki commented on #1195
@ThirumlaDevi Ignore my coment use current docker image. We found that those images behave differently and it will require a lots of tests to get around.

[2020-09-30 13:29] machi1990 opened #2135 "ClientSide plugin unable to generate subscription query unless otherwise mutation operation in model is set to `true`"
* **Module**:  graphback/client-codegen
* **Version**: 1.0.1
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

[code]

This will not generate any subscription.

while:

[code]

Will only create the `newTest` subscription since the `@model.create` is set to true.

I think the generation should depend only on `subXXX` knobs.

[2020-09-30 13:30] machi1990 commented on #2135
/cc @craicoverflow, @wtrocki
Automatically generated comment to notify maintainers

[2020-09-30 13:34] wtrocki commented on #2135
I would see this as candidate for 1.0.2 :)

[2020-09-30 13:52] RinkiyaKeDad commented on #2065
Thanks for answering my queries @wtrocki.

I'm a bit confused about as to where I should begin writing my code. Should I be changing the files in the respective folders, that is, graphback/templates/ts-apollo-mongodb-backend/ or should I be editing the files responsible for the generation of templates which I think are located at, packages/graphback-codegen-client/src/templates/gqlTemplates.ts?

[2020-09-30 13:57] wtrocki commented on #2065
Fastify is server side Node.js technology.
packages/graphback-codegen-client/src/templates/gqlTemplates.ts - is responsible for generating client side graphql queries.

graphback/templates/ts-apollo-mongodb-backend/ => graphback/templates/ts-fastify-mongodb-backend/

After rename you can use fastify inside rather than than apollo-express.
Happy to explain it further. PS: Readme.md has link to our

[2020-09-30 14:06] craicoverflow commented on #1965
Fixed by @RinkiyaKeDad in #2130 - amazing work man!

[2020-09-30 14:06] #1965 closed

[2020-09-30 14:08] wtrocki commented on #2120
Marking as potential blocker for entire client side stuff and graphql crud.

@craicoverflow What would be your approach for this?

[2020-09-30 14:10] RinkiyaKeDad commented on #1965
Thanks for guiding me @craicoverflow @wtrocki @machi1990 :))

[2020-09-30 14:14] craicoverflow commented on #2120
My approach would be to define a `@plural` object directive, would the user can add to a model to specify the pluralized form of a model. When not defined on the type - use `s`.

[code]

From the Graphback side, we can still use a `@plural` annotation - the `SchemaCRUDPlugin` can generated a `@plural` directive from this.

[2020-09-30 14:32] wtrocki commented on #2120
That will make working with datasync very hard and tbh.. we looking for simplification of the code.
Current simplification is that we have everything finishing with `s` on client but that is ticking bomb when server uses pluralize.

[2020-09-30 14:41] craicoverflow commented on #2120
It's the only way I can think of adding this without changing names of all the queries.

- Changing names of all the queries means we are no longer portable to/from AppSync
- `listTask` is an option but to me this still reads as though you want to read a single task

Another way to fix it using language is `getTaskList` instead of `taskList` - this reads more clearly and correctly.

But all these

[2020-09-30 14:55] machi1990 commented on #1965
Our pleasure, thanks for the great contribution @RinkiyaKeDad . Looking forward to many more from you ;-)

[2020-09-30 15:12] wtrocki commented on #2120
I think I figured out solution for the problem in short period.
We can simply include plural in schema and use it when generating schema at runtime.

For long term we can keep this issue to consider user provided names etc.

[2020-09-30 15:14] craicoverflow commented on #2120
Include it how? By using plural form for types?

[2020-09-30 15:43] wtrocki commented on #2120
We have JSON Schema models in client that can:

- Be transformed into graphql schema
- Can be generated from graphql schema

Our generator that does that (offix-datastore-cli) and uses graphback core.
There are many things that we might improve in graphback core in order to better use it with offix generator. One thing will be to save plural versions of the schema and let people update them.

I wi

[2020-09-30 15:48] machi1990 commented on #2135
We should be looking at these lines:

- https://github.com/aerogear/graphback/blob/2f8bb076b524c062e00e1cf1494d9af495bf3f12/packages/graphback-codegen-client/src/templates/gqlTemplates.ts#L168
- https://github.com/aerogear/graphback/blob/2f8bb076b524c062e00e1cf1494d9af495bf3f12/packages/graphback-codegen-client/src/templates/gqlTemplates.ts#L177
- https://github.com/aerogear/graphback/blob/2f8bb07

[2020-10-01 10:12] craicoverflow opened #2136 "Change all test file suffixes to be `.test.ts`"
## Problem

All test files have the following naming convention:

`/tests/*Test.ts`

Examples:

- `KnexDbDataProviderTest.ts`
- `CRUDServiceTest.ts`
- `createInMemoryFilterPredicateTest.ts`

It is difficult to differentiate a test file from a regular module file at a glance, for example:

`createInMemoryFilterPredicateTest.ts` compared to `createInMemoryFilterPredicate.ts`.

## Solution

All test

[2020-10-01 10:13] machi1990 commented on #2136
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-01 10:14] codetravellearn commented on #2136
may i do it

[2020-10-01 10:15] codetravellearn commented on #2136
please

[2020-10-01 10:18] craicoverflow commented on #2136
Hi @codetravellearn - yes you can do this one. Thank you so much for offering to help! I will assign you for now, but if your PR does not progress I will eventually unassign you, so keep active and let us know if you are having issues.

First thing you should do is go to the CONTRIBUTING.md file to set up your development environment.

[2020-10-01 10:18] Codedude1 commented on #2136
Wanna work

[2020-10-01 10:20] craicoverflow commented on #2136
@codetravellearn has been assigned this task @Codedude1. Can you please be more through in your comments and offer more than "Wanna work" for us to consider assigning you. Thanks.

[2020-10-01 10:56] craicoverflow opened #2137 "Compress website logo"
The main Graphback website logo is too large, which slows down webppage load time.

Image: https://github.com/aerogear/graphback/blob/master/website/static/img/logo.png

This image is PNG, 1.5Mb, 6378x5309. We should convert the image to JPG and make it smaller. I am not sure what sizes we should go with, as it probably needs web developer expertise or we will have to experiment. I am conscious of

[2020-10-01 10:57] machi1990 commented on #2137
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-01 11:04] wtrocki commented on #2137
🙏 Thank you so much @craicoverflow This is in fact the most overlooked detail - logo is huge!

[2020-10-01 11:04] craicoverflow commented on #2137
cc @kingsleyzissou any recommendations on sizes?

[2020-10-01 11:05] wtrocki commented on #2137
anything bellow 5mb will be success :D

[2020-10-01 11:05] munishgarg-02 commented on #2137
Can you tell whether the image wil be used in the navbar or on the centre page?

[2020-10-01 11:05] NecroTechno commented on #2137
It looks like the maximum size it will display on the site is approximately 320x270, though keeping it a bit larger for other purposes might be best Also, keeping it a PNG to keep transparency is probably  a good idea as well. @munishgarg-02 it seems like it is used in both!

[2020-10-01 11:06] craicoverflow commented on #2137
It is currently 1.5Mb

[2020-10-01 11:06] wtrocki commented on #2137
@munishgang-02 hey.. We will need separate image for navbar (looks like we scale current one)

[2020-10-01 11:07] munishgarg-02 commented on #2137
@craicoverflow Because man if the image will be used in the navigation bar, then you should use icon format of this image and if you want it on main page basically in center, then you have to compress the image a little bit.

[2020-10-01 11:09] munishgarg-02 commented on #2137
@craicoverflow I think 1920X1080 will do the task for website.

[2020-10-01 11:11] craicoverflow commented on #2137
Yes, that would be great! And we can have a separate one for Navbar at much smaller size.

[2020-10-01 11:15] kingsleyzissou commented on #2137
I think as @NecroTechno mentioned, the main reason for using the PNG is the transparency. But we can certainly scale that down. 1920x1080 sounds more than reasonable.

[2020-10-01 11:18] craicoverflow commented on #1856
Could you add more to the description of this issue? This is a nice first issue for someone but requires reading of old PRs for context.

[2020-10-01 12:02] craicoverflow opened #2142 "Update "Graphback init can create your app from following templates:""
* **Module**: create-graphback
* **Version**: 1.0.1
* **Node.js / npm versions:**

The message "Graphback init can create your app from following templates:" is wrong - `Graphback init` should be replaced with `create-graphback`. Asdditionally, it should be highlighted as a code snippet with `chalk.cyan`.

[2020-10-01 12:02] machi1990 commented on #2142
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-01 15:07] craicoverflow commented on #2137
Fixed in #2140 - thanks @SgtWalking!

[2020-10-01 15:07] #2137 closed

[2020-10-01 15:45] craicoverflow opened #2144 "Replace "GitHub" text link in top nav with the GitHub logo"
The topnav has a link to the GitHub repo on https://graphback.dev - I think this would be way nicer as a GitHub logo instead. For example see https://v2.docusaurus.io/

Source to change: https://github.com/aerogear/graphback/blob/c306e17ec5dcbe5fa2d47043f64fcc3a26722e9a/website/docusaurus.config.js#L52

[2020-10-01 15:45] machi1990 commented on #2144
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-01 16:35] eftakhairul commented on #2144
@craicoverflow  I am interested to try this one.

[2020-10-01 16:37] g-ravity commented on #2142
I would like to take this up, if this is up for grabs.

[2020-10-01 16:46] wtrocki commented on #2142
Go for it.

[2020-10-01 16:46] wtrocki commented on #2144
First PR counts :D

[2020-10-01 16:55] g-ravity commented on #2142
Okay, I'll start working on it.

[2020-10-01 17:58] machi1990 commented on #2011
Right, this should have been also mentioned as an alternative and viable solution. I was thinking more of a declarative way to achieving this.

i.e a db name is declared on model, and auto-magically the "helper" will handle which database provider to instantiate.

[2020-10-01 17:58] machi1990 commented on #2011
Otherwise, we are fine documenting this option now.

[2020-10-02 11:07] #2144 closed

[2020-10-02 21:24] #2142 closed

[2020-10-03 07:44] Odin94 commented on #2136
This one is still open, right?

Mind if I pick it up?

[2020-10-03 07:54] Odin94 opened #2150 "Jest is required to run tests but not part of dev dependencies"
* **All modules**:
* **1.0.1**:
* **Node.js v10.16.0 / npm 6.9.0**

Steps to reproduce:

* Clone fresh copy of repository
* Run `npm install`
* Run `npm test`

Output:

[code]

[2020-10-03 07:54] machi1990 commented on #2150
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-10-03 07:58] Odin94 commented on #2150
Pull request to fix: https://github.com/aerogear/graphback/pull/2151

[2020-10-03 08:28] craicoverflow commented on #2136
Hi @Odin94!

There is currently a PR in progress but it has been pretty inactive for a couple of days. Of course, feel free to take it :+1: Thanks.

[2020-10-03 08:28] Odin94 commented on #2150
Update:

Using NodeJS 12 and yarn fixed it

[2020-10-03 08:28] #2150 closed

[2020-10-03 08:32] craicoverflow commented on #2150
Thanks for the fix @Odin94! We recommend using `yarn` as we use yarn workspaces which hoists all dependencies into the root `node_modules`. However we should still allow `npm` users to work with the project and so having jest as a dependency here is great. Massive thank you for this!

[2020-10-03 13:05] ThirumlaDevi commented on #1195
@craicoverflow @wtrocki I have updated Docker PostgreSQL templates to use version 11.x and I have also tested the same.
I have explained this in detail in the below PR description ---> https://github.com/aerogear/graphback/pull/2154
Also can you please re-assign this task to me?

[2020-10-03 13:41] #2135 closed

[2020-10-05 08:23] craicoverflow commented on #1195
Fixed in #2154 - thanks again @ThirumlaDevi

[2020-10-05 08:23] #1195 closed

[2020-10-05 08:26] craicoverflow commented on #2133
Appears to be closed by https://github.com/aerogear/graphback/pull/2139

[2020-10-05 08:27] #2133 closed

[2020-10-05 08:29] machi1990 commented on #2133
Good catch. Yes, this has been fixed by #2139, thanks to @RinkiyaKeDad

[2020-10-05 08:53] craicoverflow commented on #1856
I've updated the issue description.

[2020-10-05 08:59] craicoverflow commented on #2118
In theory [`addSchemaMustHaveType()`](https://graphql-compose.github.io/docs/api/SchemaComposer.html#addschemamusthavetype) should be the solution to this for any type we want to preserve, but I will need to test it.

If SchemaCRUDPlugin uses this then the types will not be removed.

Then if plugin B does not use these types, they will be removed anyway without re-adding these to the must have typ

[2020-10-05 12:00] RinkiyaKeDad commented on #1856
Hey I'd like to work on this! How would I have access to the value the user has entered for ```MAX_RETRIES```?

[2020-10-05 12:02] craicoverflow commented on #1856
Thanks! By exposing it as an environment variable.

[2020-10-05 13:32] RinkiyaKeDad commented on #1856
Thanks for responding! I'm not sure if I get what you mean. I don't see a .env file in the providers folder so how will I use something like ```process.env._userInput``` in ```DataSyncConflictProvider.ts```.

[2020-10-05 13:42] craicoverflow commented on #1856
You are welcome!

The template is where the .env file exists - it is already there athttps://github.com/aerogear/graphback/blob/master/templates/ts-apollo-mongodb-datasync-backend/.env

This is where the user would configure the value

There does not need to be a .env file in the providers folder, you need to export it from here.

[2020-10-06 11:09] machi1990 commented on #1856
+1 on this variable to be configurable via environment variables.

As for the naming we can go with `CONFLICT_RESOLUTION_MAX_RETRIES`, but we are open to suggestions /cc @ssd71 @wtrocki

We we'll need to do here is read the variable from `process.env`, if it's set use that value, otherwise default to `3`.

As for the `.env` file, there is no need for it in the `DataSyncConflictProvider.ts` or the

[2020-10-06 15:06] #2052 closed

[2020-10-06 19:01] wtrocki opened #2163 "Relationships are not synced for the datasync (Offix Datastore relies on them to get data)"
ObjectDelta missing relationship fields.

[2020-10-06 19:01] machi1990 commented on #2163
/cc @ssd71
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-10-06 19:01] wtrocki commented on #2163
FYI @kingsleyzissou - I need to fix that first to get over the required data in order to filter it.

[2020-10-07 08:23] craicoverflow commented on #2163
This is down as a `bug` - but this was intended behaviour and a known limitation until now. Should it be a `feat`?

[2020-10-07 08:27] craicoverflow commented on #2118
Issue upstream which can resolve this: https://github.com/graphql-compose/graphql-compose/issues/293

[2020-10-07 08:35] wtrocki commented on #2163
Delta should contain exactly the state of the database. I see it as bug but not problem to make it feature :D

[2020-10-07 08:37] craicoverflow commented on #2163
That's fine, let us keep it as a bug.

[2020-10-07 08:37] craicoverflow commented on #2163
Docs will also need to be updated to include relationships in delta object.

[2020-10-07 14:06] #2136 closed

[2020-10-09 08:56] craicoverflow opened #2172 "[MDEP001] DeprecationWarning: "MongoMemoryReplSet.getConnectionString" is deprecated, use ".getUri""
We should use `.getUri` instead of `.getConnectionString` where https://github.com/nodkz/mongodb-memory-server is used.

[2020-10-09 08:56] machi1990 commented on #2172
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-11 15:04] nodkz commented on #2118
New option `SchemaComposer.buildSchema({ keepUnusedTypes: true })` was added in https://github.com/graphql-compose/graphql-compose/releases/tag/v7.22.0

@craicoverflow thanks for PR.

[2020-10-12 10:44] craicoverflow opened #2174 "Subscriptions not working in GraphiQL Playground with Fastify"
// TODO

* **Module**:
* **Version**:
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

[2020-10-12 10:44] machi1990 commented on #2174
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-12 11:35] craicoverflow opened #2175 "Installing missing dependencies in `create-graphback`"
[code]

I see these warnings in `create-graphback` package. We should add them as devDependencies.

[2020-10-12 11:35] machi1990 commented on #2175
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-12 12:17] machi1990 commented on #1856
Closed by #2160 Thanks @RinkiyaKeDad for the great work.

[2020-10-12 12:17] #1856 closed

[2020-10-12 17:45] #2175 closed

[2020-10-12 19:43] RinkiyaKeDad commented on #1723
I'd like to work on this. Can you please provide me with a bit more details to get started on? Thanks.

[2020-10-13 07:31] craicoverflow commented on #1723
Hi @RinkiyaKeDad I looked at this recently and it is not necessary to do, so I will close it.

[2020-10-13 07:31] #1723 closed

[2020-10-13 07:34] machi1990 commented on #2065
Closed by #2153 thanks to @RinkiyaKeDad for the awesome contribution.

[2020-10-13 07:34] #2065 closed

[2020-10-14 07:20] craicoverflow commented on #2172
Hi @Muditxofficial yes that looks to be the case. You will need to research the relevant documentation at https://github.com/nodkz/mongodb-memory-server to find out what it does.

[2020-10-14 14:06] #2172 closed

[2020-10-14 16:40] kingsleyzissou opened #2181 "OneToMany vs OneToOne (Docs)"
I'm not entirely sure if this is a bug or possibly something that might need to be clarified in the docs.

Given this example here from the [docs](https://graphback.dev/docs/model/annotations#onetomany) a `oneToMany` annotation will create a field on the type, so:
[code]

Will generate the following:

[code]
When I inspect the schema on the server that all checks out.

The docs say something simil

[2020-10-14 16:40] machi1990 commented on #2181
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-10-14 16:43] kingsleyzissou commented on #2181
I noticed the same applies when I am trying to generate schema for the `oneToOne` relationships in the Offix cli. The field is generated for the type that has the annotation, is this expected behaviour.

The PR is (I haven't pushed the changes yet):
https://github.com/aerogear/offix/pull/899

[2020-10-15 08:07] craicoverflow commented on #2181
Thank you for pointing this out. The `@oneToOne` annotation does not have a `field` argument..these docs are wrong. Eventually it will have, if we add bidrectional query capacity on a 1:1 (see https://github.com/aerogear/graphback/issues/930).

I will remove this from the documentation.

[2020-10-15 08:25] #2181 closed

[2020-10-15 08:45] craicoverflow opened #2184 "Use an in-memory Knex database in unit tests"
**Is your feature request related to a problem? Please describe.**

Some of the Knex related unit tests are creating a SQLite database file and cleaning it up after each test runs. This marginally impacts test completion time, and sometimes the files do not successfully get removed if tests are stopped early, which can make them susceptible to being committed to source control.

**Describe the sol

[2020-10-15 08:46] machi1990 commented on #2184
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-15 09:35] craicoverflow opened #2186 "Add pattern to .gitignore file to ignore all `*.sqlite` files"
**Is your feature request related to a problem? Please describe.**

SQLite files should never be committed, but it can happen by accident.

**Describe the solution you'd like**

We can ignore all `*.sqlite` files in the `.gitignore`. This is the most common naming pattern for these files so it should cover >90% cases.

[2020-10-15 09:35] machi1990 commented on #2186
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-15 09:43] craicoverflow opened #2187 "[Docs] Fix misspelling "Autorization" in Keycloak section"
* **Module**: website
* **Version**: *
* **Node.js / npm versions:**

There is a misspelling on the website in [Authentication with Keycloak](https://graphback.dev/docs/authentication/keycloak). See title.

[2020-10-15 09:44] machi1990 commented on #2187
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-15 12:26] #2187 closed

[2020-10-15 14:45] saiprasadnayak6858 commented on #2186
I would like to work on it and contribute to solve it , please can you describe the issue more precisely?

[2020-10-15 14:48] craicoverflow commented on #2186
Great! I have given all the information required to complete this task, you will need to do research how to do this.

[2020-10-15 15:03] saiprasadnayak6858 commented on #2186
Are the files already in the repo i.e they are versioned?

[2020-10-15 15:04] craicoverflow commented on #2186
Nope, but we want to prevent this from ever happening.

[2020-10-15 15:10] saiprasadnayak6858 commented on #2186
I think adding `*.sqlite` into the git ignore file will do the job

[2020-10-15 15:12] craicoverflow commented on #2186
If you push a PR we can review its validity from there. Thank you! :star:

[2020-10-15 15:21] saiprasadnayak6858 commented on #2186
Shall I add `*.sqlite` to only the global git ignore file or all the git ignore files present in the repo?

[2020-10-15 15:23] craicoverflow commented on #2186
You can just add it to the root gitignore file, but make sure that it covers all folders too with a glob pattern.

[2020-10-18 14:04] RinkiyaKeDad commented on #2184
I'd like to work on this. Can you please tell me which tests are being referred here?

[2020-10-19 06:41] machi1990 commented on #2184
Hi @RinkiyaKeDad, doing a `.sqlite` search on the project will reveal which test files using the file for storage. There is still a couple of them. I'll take one example file for further clarification.

Le'ts take the file:

https://github.com/aerogear/graphback/blob/master/packages/graphback-runtime-knex/tests/service/DefaultCRUDService.test.ts

You can see that, Knex is configured to use sqlite

[2020-10-19 08:19] #2186 closed

[2020-10-19 14:10] RinkiyaKeDad commented on #2099
Has this issue been fixed as mentioned by @craicoverflow in #2101? If not then what more needs to be done?

[2020-10-19 14:23] craicoverflow commented on #2099
Hi @RinkiyaKeDad - this is not fixed yet. The description already covers what is required to do this, and to be honest it is not an easy fix at all, as yet we are unsure how it can be fixed. You can give it a go, but there are probably better issues to take for now.

[2020-10-19 16:08] craicoverflow commented on #2184
I actually think now that this will not work at all - the problem is that `migrateDB` does not accept a database, just a config which it uses to create a connection. This creates two separate in-memory databases (one during migrations) and another in the tests but this one does not have the migration history.

[2020-10-19 16:08] #2184 closed

[2020-10-19 16:12] craicoverflow opened #2194 "Enable auto-merge for renovate (for pathc and minor dependency updates)"
**Is your feature request related to a problem? Please describe.**

I think we should enable auto-merge on minor and patch updates. We disabled this ahead of 1.0 but since this is passed it is good to keep up to date (for security reasons more than anything).

Updates are managed with [renovate](https://github.com/renovatebot/renovate)

[2020-10-19 16:13] machi1990 commented on #2194
Automatically generated comment to notify maintainers
/cc @machi1990, @wtrocki

[2020-10-20 09:52] craicoverflow commented on #1758
Looks like this has can be closed. @machi1990 has done great work in analysing performance and integrating it into the workflow

[2020-10-20 09:52] #1758 closed

[2020-10-20 13:40] #1900 closed

[2020-10-26 02:47] rajivrtk11 commented on #2194
hi, i would like to work on this issue, can you you suggest me the way to get started

[2020-10-27 09:09] craicoverflow commented on #2194
Hi @rajivrtk11 - thanks! The best thing to do is to look at the CONTRIBUTING.md file. The issue describes what is required.

[2020-10-30 13:12] RinkiyaKeDad commented on #2086
Hi! Can I work on this? As far as I understand the goal is that people should be able to provide a link to their template (a JSON file) by using something like: ```graphback init --templateUrl=<link-goes-here>```? What would be a good starting point for solving this? Thanks.

[2020-11-02 21:37] #2194 closed

[2020-11-09 15:42] PixelYeti opened #2203 "Generated GraphQL schema doesn't allow arrays into update mutation"
* **Module**: graphback-core
* **Version**: 1.0.1
* **Node.js / npm versions:** Node:v15.0.1 NPM:6.14.8
* Example/snippet of the model that is causing issue

Schema
[code]

Generated Mutation
[code]

What I was expecting this to generate is:

Expected Mutation
[code]

I would expect the skills field in MutateVolunteerInput to be an array of Strings. At the moment I can create a Volunteer with an a

[2020-11-09 15:42] machi1990 commented on #2203
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-11-09 20:56] wtrocki commented on #2203
Thank you for logging issue. This is due to no representation for array in graphback - array is relationship to type so if we do not have it as relation things could be tricky. Looks like simple fix.

@craicoverflow I think we had some workaround for this right?

[2020-11-10 10:34] craicoverflow commented on #2203
This is a small bug. I've put out a fix in #2205.

[2020-11-10 10:55] PixelYeti commented on #2203
Ah brilliant! Have you guys got a plan to do a release to NPM anytime soon?

[2020-11-10 11:09] #2203 closed

[2020-11-10 11:42] craicoverflow commented on #2203
We have releases 1.1.0 - please try it out :smile:

https://github.com/aerogear/graphback/releases/tag/1.1.0

[2020-11-11 22:56] wtrocki commented on #2086
I was thinking we can actually create templates.json file in repo where community can add their templates.
Graphback-cli project have them hard coded for the moment so we can split between community and base templatez

[2020-11-13 14:41] RobZaenglein opened #2210 "How do you generate the resolver layer in code instead of memory?"
I need to modify the default CRUD resolvers that are currently stored in memory when `buildGraphbackAPI` is called. The readme has the follow tidbit:

* Generates an unopiniated GraphQL resolver layer (as code or in memory)

I do not see how to use the graphback-cli anywhere in the documentation that would instead generate these resolvers into the codebase.

Any help would be appreciated.

[2020-11-13 14:42] machi1990 commented on #2210
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-11-13 15:40] wtrocki commented on #2210
We have separate package that we used for codegeneration, however we did not had any community members or internal usages that will require code.
Once we started writing very advanced versions we decided to remove codegen support.

Old version of the graphback were doing that. See deprecated package:
https://www.npmjs.com/package/@graphback/codegen-resolvers

Hope that clarifies a lot.

[2020-11-15 13:21] mukeshgupta7 opened #2211 "Headstart"
Hello can someone share the good first issues, for getting started, it would be very helpful.

[2020-11-15 13:21] machi1990 commented on #2211
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-11-15 16:18] craicoverflow commented on #2211
Hi! We don't have any good first issues right now, we had some great contributions in Hacktoberfest which cleared them all up! But if you find things you think could be improved, feel free to create an issue for it and start working on it.

https://github.com/aerogear/graphback/issues?q=is%3Aissue+sort%3Aupdated-desc+label%3A%22good+first+issue%22+is%3Aopen

[2020-11-15 17:12] wtrocki commented on #2211
Some community members asking for Nest.js template. We do not have much experience with it so having nest.js template will be appreciated

[2020-11-15 17:12] #2211 closed

[2020-11-15 17:14] wtrocki opened #2212 "Create Nest.js template"
Graphback comes with number of templates (see repo templates directory.) Over the last month we seen increased demand to Nest.js framework and it wil.be good to be able to have some nest.js backend template

[2020-11-15 17:14] machi1990 commented on #2212
/cc @craicoverflow, @machi1990
Automatically generated comment to notify maintainers

[2020-11-18 15:26] kresli opened #2217 "Project created by template contain invalid types - apollo-fullstack-react-mongo-ts"
1. ` npx create-graphback graphql-test`
2.  pick `apollo-fullstack-react-mongo-ts`
2. `cd graphql-test && yarn && yarn generate`
3. `cd client && yarn && yarn generate`

client/src/generated-types.tsx
is generated with following types
[code]

[2020-11-18 15:26] machi1990 commented on #2217
Automatically generated comment to notify maintainers
/cc @craicoverflow, @machi1990, @wtrocki

[2020-11-18 15:52] craicoverflow commented on #2217
Thanks for raising this issue @kresli! This looks to me like an issue with [graphql-code-generator](https://github.com/dotansimha/graphql-code-generator).

I tried this out and then updated these dependencies and now it works. If you do the same it should work:

[code]

[2020-11-18 15:59] kresli commented on #2217
shall I open a new issue there?

[2020-11-18 16:04] craicoverflow commented on #2217
No need - they appear to have fixed this issue already, so if you try updating your dependencies it should work. Come back to me if it does not though :+1:

[2020-11-18 16:07] #2217 closed

[2020-11-30 10:23] RinkiyaKeDad commented on #2212
Hey @wtrocki! I'd like to work on this. I haven't used Nest.js before though so it might take me some time. The goal here is similar to the [Fastify template](https://github.com/aerogear/graphback/pull/2153) right?

[2020-11-30 10:49] wtrocki commented on #2212
@RinkiyaKeDad Exactly. NestJS is the most top level framework giving developers opiniated layers on top of the express/or fastify. We could do it as separate template

[2020-12-02 07:06] hussainashraf commented on #2212
Hey @wtrocki I'd like to work in this. I havent used Nest.js before though so it might take me some time..

[2020-12-02 08:18] wtrocki commented on #2212
We are working with @RinkiyaKeDad on community extensions that will enable adding templates outside repo. Having some Nest.js template added as separate repo would be amazing. We can help you with basics etc. Obviously we will still add some contribution to this repo in form of metadata

[2020-12-02 10:14] hussainashraf commented on #2212
@wtrocki can you please tell how how can i start to contributing

[2020-12-02 11:02] wtrocki commented on #2212
@hussainashraf if you create separate repository with the basic nest application and then try to follow graphback documentation to add graphback to it.. Then you can ping us on PR for review.
Once that is there we can add this template to this repository by merging your PR with the links to the template you have created.

[2020-12-02 11:30] wtrocki commented on #2212
@RinkiyaKeDad Little bit offtopic, but since you wanted to work on this - I think having community template capability is critical here so we can work on this to enable @hussainashraf to contribute back to repository and validate our work. Thank you so much guys for interest! We really appreciate that!

[2020-12-02 12:16] RinkiyaKeDad commented on #2212
Yup that sounds great @wtrocki! We are in the final steps of adding the community template capability, till then like @wtrocki already said you could start creating the Next.js template in a new repository @hussainashraf. I could aslo help you out with that if you want :)

[2020-12-04 13:39] hussainashraf commented on #2212
hi @wtrocki @RinkiyaKeDad  can you please guide me what are prerequisite to work on this issue because i am new in open source contribution so having no idea about this issue I only know java , git,github , web development and from some past day I learned about graphql so Please help me out ..

[2020-12-04 13:52] craicoverflow commented on #2212
Mu suggestions on how to get started, in order:

1. Play around with Graphback. Create a TODO application. Use graphback.dev to guide you
2. Learn about Nest.js. Also create a TODO application.
3. Use your knowledge learned to migrate your Nest.js TODO application to use Graphback

[2020-12-04 16:17] wtrocki commented on #2212
Sounds like plan

[2020-12-09 12:08] mukeshgupta7 commented on #2212
While setting up nest i am getting this error also tried to update node but didn't work

:\nest\node_modules\fs-extra\lib\mkdirs\make-dir.js:85
} catch {
^

SyntaxError: Unexpected token {
at createScript (vm.js:80:10)
at Object.runInThisContext (vm.js:139:10)
at Module._compile (module.js:607:28)
at Object.Module._extensions..js (module.js:654:10)
at Module.load (module.js:556:32)
at tryModuleLoa

[2020-12-09 12:37] RinkiyaKeDad commented on #2212
Hi @mukeshgupta7, I think apart from updating node you also might need to [update the fs-extra package](https://stackoverflow.com/questions/62865264/unexpected-token-node-modules-fs-extra-lib-mkdirs-make-dir-js85-catch) to 9.0.0 or higher.

[2020-12-15 01:49] namit-chandwani opened #2239 "'apollo-fullstack-react-mongo-ts' template breaks when a Comment is created"
* **Module**: ts-apollo-mongodb-backend
* **Version**:
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue: https://github.com/aerogear/graphback/blob/2d3e304fbe675536d3e39494d6a91b4d74aceb74/templates/ts-apollo-mongodb-backend/model/datamodel.graphql#L17

# Steps to reproduce the issue:

![graphback issue](https://user-images.githubusercontent.com/51479159/102141242

[2020-12-15 18:22] namit-chandwani commented on #2239
@wtrocki @craicoverflow
Can I please start working on this issue with any of the solutions that I have mentioned above?

[2020-12-16 08:50] craicoverflow commented on #2239
Sorry, I fixed this but comment on the PR instead of this issue! https://github.com/aerogear/graphback/pull/2240#issuecomment-745128937

By the way, you do not need to ask to work on an issue like this.

[2020-12-16 08:50] #2239 closed

[2020-12-16 12:05] namit-chandwani commented on #2239
Yeah, but I wanted to know which one of the solutions (mentioned above) would you all prefer the most, that is why I waited before sending a PR.

No problem, the issue is now fixed and that's what matters! 😊

[2020-12-20 09:43] RinkiyaKeDad commented on #2174
Hey @craicoverflow! I'd like to help solve this issue.

To be sure that it is not a Graphback issue I wanted to look at the resolvers which get generated. I was looking for them and as far as I could understand they get generated [here](https://github.com/aerogear/graphback/blob/master/templates/ts-fastify-mongodb-backend/src/index.ts#L35). But I still am not sure how to see the actually generated

[2020-12-22 18:35] craicoverflow commented on #2174
Hi @RinkiyaKeDad!

The resolvers are created in the [SchemaCRUDPlugin](https://github.com/aerogear/graphback/blob/master/packages/graphback-codegen-schema/src/SchemaCRUDPlugin.ts)

[2020-12-23 05:13] 192215 commented on #2212
Hey @wtrocki! I'd like to work on this, can you please guide me because i am new in open source contribution so having no idea about this issue I only know java , github , git,  web development in react and node js

[2020-12-26 11:05] RinkiyaKeDad commented on #2174
Hi @craicoverflow! There were some Typescript types related errors in [SchemaCRUDPlugin](https://github.com/aerogear/graphback/blob/master/packages/graphback-codegen-schema/src/SchemaCRUDPlugin.ts). For example when adding the [create subscription resolver](https://github.com/aerogear/graphback/blob/master/packages/graphback-codegen-schema/src/SchemaCRUDPlugin.ts#L470) I was getting this error in

[2020-12-28 12:22] wtrocki commented on #2174
@RinkiyaKeDad Our resolvers work with Apollo format. Fastify (graphql-js) uses different format for **subscriotion resolvers**

https://www.apollographql.com/docs/apollo-server/data/subscriptions/

[2020-12-28 13:21] wtrocki commented on #2212
There is a lot of interest on this issue. @craicoverflow already pointed out one of possible ways to get started working on this:

1.Play around with Graphback. Create a TODO application. Use graphback.dev to guide you
2. Learn about Nest.js. Also create a TODO application.
3. Use your knowledge learned to migrate your Nest.js TODO application to use Graphback

If you do 1 and 2 ping us with the r

[2020-12-28 14:21] RinkiyaKeDad commented on #2174
@wtrocki but isn't the [SchemaCRUDPlugin](https://github.com/aerogear/graphback/blob/master/packages/graphback-codegen-schema/src/SchemaCRUDPlugin.ts) file independent of the template we use and so should not be showing the TypeScript errors?

If that is not the case can you point me to what I should look into inorder to solve this? I reckon changing the way the Graphback resolvers work for a this

[2020-12-28 17:13] wtrocki commented on #2174
We do not need to change how resolvers work.
Our template need to enable subscriptions and handle them.

We need to map resolver function definitions to be compatible. Graphback output resolvers:
https://github.com/aerogear/graphback/blob/2f8bb076b524c062e00e1cf1494d9af495bf3f12/packages/graphback-codegen-schema/src/SchemaCRUDPlugin.ts#L652

Graphback outputs resolvers to user app, so it is up to

[2020-12-28 17:45] wtrocki commented on #2174
If we take look on the code template  expects function but receives object with subscribe method.

To prove that this is going to resolve issue you can do this in template
[code]

[2020-12-30 12:46] RinkiyaKeDad commented on #2174
Thanks for the detailed explanation @wtrocki. I understand what the problem is now.

I looked up on it a bit more and I think the problem is actually with [mercurius](https://github.com/mercurius-js/mercurius) and not fastify itself. I'm not sure yet but I think the fix could be simply specifying the resolvers [here](https://github.com/aerogear/graphback/blob/master/templates/ts-fastify-mongodb-ba

[2020-12-30 14:26] wtrocki commented on #2174
Surprisingly mercurius documents resolvers the same way as Graphback:

https://github.com/mercurius-js/mercurius/blob/master/docs/subscriptions.md

Eg:

[code]

[2020-12-31 08:44] RinkiyaKeDad commented on #2174
This would be the solution I mentioned should work I guess. Will try it out and raise a PR.

[2021-01-02 03:23] andynicholson opened #2249 "apollo-fullstack-react-postgres-ts template project error"
* **Module**:
* **Version**:
* **Node.js / npm versions:**
* Example/snippet of the model that is causing issue

Straight out of the box, using 'apollo-fullstack-react-postgres-ts' project template, you can't create Notes using the example Create Note form, since datamodel.graphql uses "_id: ID!"

However according to 'isAutoPrimaryKey' an auto primary key can only be called "_id" if its Graphback

[2021-01-03 14:10] Cronus1007 commented on #2212
@wtrocki let me take over this issue. Since I have some prerequisites in nest.js so my 2nd point is already on the board which leaves a single todo app with graphback. So give a day or two to create a repo for the same.

[2021-01-03 16:33] Thatsgaurav commented on #2249
Can I fix this bug with your permission?

[2021-01-04 00:34] namit-chandwani commented on #2212
Hey @wtrocki! I'm done with the first 2 steps mentioned above.
Repo for step 2 (NestJS Server): https://github.com/namit-chandwani/NestJS-Apollo-Notemaking-App-Backend

I would appreciate it if you could help me migrate this server to use Graphback.

[2021-01-04 08:25] craicoverflow commented on #2212
@namit-chandwani have you tried following the steps outlined in [Adding Graphback to your project](https://graphback.dev/docs/getting-started/add-to-project)

[2021-01-04 08:39] wtrocki commented on #2249
I though I left comment here. Issue is that we use single client app for mongo and postgress. For mongo we use more specialized scalar for data and it looks like package bump introduced some coupling.

[2021-01-04 12:41] RinkiyaKeDad commented on #2249
Do you mean the [datamodel](https://github.com/aerogear/graphback/blob/master/templates/ts-apollo-postgres-backend/model/datamodel.graphql)? Cause I changed `_id` to `id` in the datamodel and starting the server after running `yarn generate` gave me this error:
[code]

This means simply changing `_id` to `id` in the datamodel for the postgres template would not work. Also creating notes works when

[2021-01-04 12:59] wtrocki commented on #2249
@RinkiyaKeDad problem is related to the UI/client application - server will work fine.

Client app uses schema and generates queries. Etc.

[2021-01-04 22:01] dijbi opened #2250 "Wrapping Resolver w/ Graphback?"
Hi,

I would like  to encrypt a input variable in Query/Mutation/Subscription.

I have a GraphQL enpoint (which i don't own) with a list of nonEncryptedID and i would have in my graphback backend all theses IDs either hashed or/and encrypted.

Example :

//ENDPOINT i don't own //
[code]

With a Graphback Plugin, i am adding two fields to Note (hashofID & EncryptedID)
Graphback is generated the CRU

[2021-01-05 05:16] andynicholson commented on #2249
@RinkiyaKeDad , yes you need to make some minor fixes in the client. Changing from _id to id.
client/src/components/notes/
client/src/components/comments/
etc
The console will tell you.

You also should not rely on trying to get auto-migration working with the primary key changing. Blow the db away and start again. Much easier.

I could upload my changes @wtrocki  ? Should i issue a pull ?

[2021-01-05 05:40] wtrocki commented on #2250
Sounds like XY problem. What we are trying to achieve with this hashing?

Graphback returns object containing resolvers so wrapping is trivial

[2021-01-05 05:42] wtrocki commented on #2249
I got little bit confused so I would really appreciate PullRequest

[2021-01-05 08:30] dijbi commented on #2250
Thanks for the reply.

Haven't heard about the XY problem... i got some readings to do.

What i want to achieve with the hashing/encryption.
- **first endpoint** GraphQL express : personnal data including a userID (i can query but i don't own)
- **second endpoint** : Additional Data on User (where the userID has to be encrypted)
- **gateway** where the stitching takes place.

Since i want to creat

[2021-01-05 10:45] wtrocki commented on #2250
There are two things here:

## General practice

Generally, passing userID from the client doesn't seem to be secure and good practice. Encryption itself is guaranteed on transport level - https. Mentioned hashing can be the way to validate if the requested userID, matches the session user ID (however this might be a redundant operation)

## Solution for schema modification

If there is any unknow

[2021-01-08 22:56] namit-chandwani commented on #2212
@craicoverflow Yes, I'm done with the migration by following all the steps mentioned in the doc.
Since NestJS is a bit different from Express, the only challenge was getting that asynchronous code thing to work with NestJS. But the documentation helped a lot here.

Here's the repo for the same: https://github.com/namit-chandwani/nestjs-apollo-mongodb-backend

Do let me know if there are any change

[2021-01-11 09:08] arnab15 commented on #2250
hello,
I have knowledge of javascript ,nodejs,reactjs,expressjs, Mongodb but I haven't contributed to any open-source project before so I'm a beginner. I would like to contribute to this project.
how should I start can anyone suggest to me the way should I start contributing.

[2021-01-11 09:22] craicoverflow commented on #2250
Hi @arnab15 - please use the [](https://github.com/aerogear/graphback/discussions) to ask this question as your question is unrelated to this issue.

[2021-01-11 09:26] arnab15 commented on #2250
@craicoverflow thanks.

[2021-01-15 20:28] dijbi commented on #2250
@wtrocki Thanks a lot for the detailled answer.

To follow the wrapping issue, there is no Resolvers attached to an ObjectType (via ObjectTypeComposer (OTC) functions) per se in the graphback GraphbackCoreMetadata object.

Fetching for the ObjectType Resolvers with
`schemaComposer.getOTC(modelName),getResolvers()
.`
yields no attached resolvers.

Using [wrapping functions](https://graphql-compose.

[2021-01-16 11:37] wtrocki commented on #2250
We encourage developers to use good patterns. Meaning that we do not provide executable schema that one cannot edit. We split resolvers and schema so developers have freedom to wrap things.

If you looking into building plugin then our plugins have dedicated place for dealing with resolvers:
https://graphback.dev/docs/plugins/create#createresolvers

There is no need to use schemaComposer apart fro

[2021-01-16 12:25] dijbi commented on #2250
Ok  Thanks a lot. The graphback plugin system seems adequate for various use cases .

[2021-01-16 12:25] #2250 closed

[2021-01-19 09:12] RinkiyaKeDad commented on #2163
Hey could I work on this issue? Can you please provide some more details about what needs to be done?

[2021-01-19 22:30] namit-chandwani commented on #2048
Hey, I'm interested in working on this issue.
Can you please let me know what would be a good starting point for this?

[2021-01-20 09:49] craicoverflow commented on #2048
Hi @namit-chandwani you can ignore this one - it is something maintainers would need to do because you would have to create repos in the aerogear org etc.

[2021-01-20 12:41] wtrocki commented on #2163
I think @kingsleyzissou worked on this issue and we could technically close it due to solution available outside graphback. @kingsleyzissou Please close if you are happy with this

[2021-01-21 09:50] kingsleyzissou commented on #2163
Yep, I'll close this issue

[2021-01-21 09:50] #2163 closed

[2021-01-21 14:55] #463 closed

[2021-01-21 20:45] namit-chandwani commented on #2061
Hey, I'd like to work on this issue.
What would be a good starting point for this?

[2021-01-22 09:49] craicoverflow commented on #2061
Hi @namit-chandwani. Follow the [Plugin creation guide](https://graphback.dev/docs/plugins/create) and check out the other plugins for help.

We don't have any strict approach for this other than the description provided by @machi1990.

[2021-01-22 12:15] RinkiyaKeDad commented on #2249
So should I replace `_id` with `id` in the client template? But that would make it stop working with MongoDB no?

[2021-01-22 12:29] wtrocki commented on #2249
The same client is used in mongodb and postgress backend. Thus `_id` is needed.
This might be confusing for postgres devs who use `id` but that is just example app limitation - developers can use any schema they want. We still wanted to keep some client APP but I would also think if there is value in maintaining this considering it put some requirements to keep the same schema and it will break if

[2021-01-22 13:30] RinkiyaKeDad commented on #2249
What about having two separate client templates based on the database? We would just need to replace `_id` in one and then none should break regardless of schema changes.

[2021-01-22 13:39] craicoverflow commented on #2249
My thought was also to have 2 separate clients. The problem with that is it multiples the maintenance burden. Both clients will be exactly the same except for the ID, so both will need to be kept in sync manually.

[2021-01-25 08:46] RinkiyaKeDad commented on #2249
How about using the same client but replacing instances of `_id` with an environment variable and we'll provide a different `.env` file for mongodb and postgres? That way we won't have to maintain two clients.

[2021-01-25 09:20] craicoverflow commented on #2249
This won't work as environment variables cannot be used inside a GraphQL schema file.

What could work for this is adding a `@autoIncrements` annotation to Graphback which is a way to explicitly say this field should be an auto-incrementing field.

Although I feel that this is us treating a symptom of the design instead of a solution.

Have a think about other ideas and feel free to share them her

[2021-01-31 08:53] RinkiyaKeDad commented on #2249
After discussion on [discord](https://discord.com/invite/mJ7j84m) we've decided to have the client app working with postgres only (and not mongo) since we will still have client-side queries for testing. Will be raising a PR for the same.

[2021-02-02 16:39] RinkiyaKeDad opened #2262 "Subscriptions not working in kafka template"
* **Module**: ts-apollo-mongo-apache-kafka-backend
* **Node.js / npm versions:** v12.20.0
* Example/snippet of the model that is causing issue

I was trying out the Kafka template by following instructions from the [README](https://github.com/aerogear/graphback/blob/master/templates/ts-apollo-mongo-apache-kafka-backend/README.md) but wasn't able to run subscriptions properly. See the video for ref

[2021-02-11 01:27] namit-chandwani commented on #2061
Hey @craicoverflow!
I've now got an idea of how plugins work in Graphback by going through the relevant docs.

But there's this one thing that I need help with.
Let's say I make some changes in the [SchemaCRUDPlugin.ts](https://github.com/aerogear/graphback/blob/master/packages/graphback-codegen-schema/src/SchemaCRUDPlugin.ts) file.

After that, I move to the `packages/create-graphback` directory

[2021-02-12 17:56] namit-chandwani commented on #2061
I'd highly appreciate it if you could help me with this, whenever you're free. 😊
/cc @craicoverflow @wtrocki @machi1990

[2021-02-13 17:37] namit-chandwani commented on #2061
I'd highly appreciate it if you could help me with this, whenever you're free. 😊
/cc @wtrocki

[2021-02-13 20:21] namit-chandwani commented on #2061
I'd highly appreciate it if you could help me with this, whenever you're free. Thanks in advance!😊
/cc @wtrocki @craicoverflow @machi1990

[2021-02-15 12:42] wtrocki commented on #2061
We use yarn workspaces. If you install project using yarn you will be able to see the changes.

[2021-02-16 12:36] RinkiyaKeDad commented on #2262
@wtrocki - please have a look at this too

[2021-02-16 12:45] #2249 closed

[2021-02-16 20:27] namit-chandwani commented on #2061
@wtrocki
Yes, I have been doing the same ie. I installed the project using yarn and used `yarn link`.
Sorry I wrote `npm link` instead of `yarn link` everywhere in my previous comment by mistake (edited that comment now), but yarn workspace is what I'm using too.

I'm not sure what's causing this issue.

[2021-02-23 20:14] JWBrownie opened #2271 "When creating a new project with the command create-graphback it errors out"
* **Module**: create-graphback
* **Version**: 1.1.1
* **Node.js / npm versions:** 14.15.0 / 6.14.8
* When creating a project with the following command ```npx create-graphback {project_name}```

I am working in a WSL2 Ubuntu 20.04.1 LTS I am using nvm and tried with versions v12.18.4 and v14.15.0 both throw the same error which I am attaching to this bug report.

[code]

[2021-02-23 22:51] namit-chandwani commented on #2271
This has been fixed by PR #2267, but hasn't been released yet.
@craicoverflow Can you please release a new version of the create-graphback package that includes this bug fix?

[2021-02-23 22:59] namit-chandwani commented on #2271
This was fixed by PR #2267, just hasn't been released yet.
@craicoverflow Can you please release a new version of the create-graphback package that includes this bug fix?

[2021-03-02 15:57] namit-chandwani commented on #2271
@JWBrownie The fix for this issue has now been included in the latest release of Graphback.
It should work fine now.

[2021-03-06 19:11] mukeshgupta7 commented on #2212
Is there anything more that need to be done or is there any more issue available?

[2021-03-14 06:56] rrguhan6 opened #2277 "How to set on delete cascade in .graphql file"
I'm using postgres 11.10

**My model is**

`"""
@model
"""
type Note  {
  """ @id """
  id: ID!
  title: String!
  description: String
   """
  @oneToMany(field: 'note')
  """
  comments: [Comment]
}

"""
@model(delete: true)
 """
type Comment {
  """ @id """
  id: ID!
  text: String
  description: String
}

type Query {
  getDraftNotes: [Note]
}
`

**Query :**
`mutation{
  deleteNote(input:{id:1}

[2021-03-14 20:13] wtrocki commented on #2277
I think we do not enable cascade deletes as form of precaution, but I get that this is inconvenient to delete all comments from end user app to delete comments.

Anyone can alter cascade rules on FK but that is like a lot of work if you have large db and on the other hand I do not want to have issue ala `graphback deleted half of my database` because we setup default cascades.

We need new annotat

[2021-03-14 20:18] wtrocki commented on #2277
Actually I cannot replicate this. I see we  do not put any so constraints by default. More info needed

[2021-03-15 05:29] rrguhan6 commented on #2277
**Flow to reproduce this issue**

1. create a note record
Query:
[code]
Output:
[code]

2.**create a comment with noteId**
query:
[code]
output:
[code]
3.**Now delete the note record**
query:
[code]
output:
[code]

I am using postgres - 11.10 , node - v10.19.0 and created graphql project using "npm init graphback" command.

[2021-03-15 14:31] teddy-has-opinions opened #2278 "Preventing Leaking Through-Table Abstractions"
Hello, I've been working on a new app, and spent quite a bit of time trying to figure out a good way to resolve this issue, but was unable to. Our team is pretty new to GraphQL and Graphback, so I might have missed something obvious here. We've got a few many-to-many relationships in our DB that use through tables, and we've noticed that as it stands, that implementation is leaking into the FE cli

[2021-03-15 23:35] namit-chandwani commented on #2212
Hey @mukeshgupta7!
As you can see from the linked PR, the template has already been created.
Though if you're still interested in working on this template, there are a couple of issues created in it's repo, you can work on those along with me if you feel like.

Here's the link for the same: https://github.com/namit-chandwani/nestjs-apollo-mongodb-backend/issues

[2021-03-16 06:50] #2212 closed

[2021-05-18 13:16] countrdd opened #2292 "Orderby Multiple Fields"
**Is your feature request related to a problem? Please describe.**
Currently need to be able to sort results by mutliple fields. I.e. have a startdatetime and enddatetime and need to be able to sort them by start date and end date so they line up properly.

**Describe the solution you'd like**
Would be nice if the orderBY GENERATED was like the Filterby, where it lists all the fields and you can p

[2021-06-21 21:24] CoreyKovalik commented on #1967
+1000, we are actually creating a "lowercased" field on models i.e. `lowercase_name` for this use case

[2021-06-21 21:34] CoreyKovalik commented on #2009
This should be re-opened, as I believe there are still bugs in the knex query builder.  We are experiencing that this simply _**does not work as expected**_ for Postgres + Knex for any and/or query on the same field.

Example:

[code]

[2021-06-24 16:05] #2262 closed

[2021-08-01 00:31] itsemirhanengin opened #2298 "Codegen - TypeError: loader.loaderId is not a function"
* Module: graphql-config
* Version: 3.2.0
* Node: 15.0.1 / Yarn: 1.22.10

Hello. I just installed graphback and trying to run codegen. But the command gives this error:
[code]
I used graphback before and when I change my yarn.lock file with that project, this command works. But when I delete it and reinstall modules and after that rerun this command, I get this error.

I tried to find solutions on

[2021-08-01 08:05] wtrocki commented on #2298
Codegen is part of the https://graphqlcodegenerator.com we cannot fix issues there. I looks like bumping version of codegen fixes problem

[2021-08-01 08:19] itsemirhanengin commented on #2298
But I just don't understand, why my other project is working. The whole project version is same. It works until I delete yarn.lock & node_modules and reinstall packages. Do you have any suggestion?

[2021-08-01 08:54] itsemirhanengin commented on #2298
I've solved this issue. I installed graphql-codegen manually. And it worked.

[2021-08-01 08:54] #2298 closed

[2021-08-17 21:49] CoreyKovalik opened #2299 "What does the release process look like?"
What does the release process look like for this project? I see that the last release as of today is v1.1.2 released on Feb 24, 2021.

If I were to commit support for case sensitivity (see https://github.com/aerogear/graphback/issues/1967) for Knex, it would seem like it would be very slow moving to actually release into production.

It seems that there's a few options.

1. Push a PR to graphback

[2021-08-18 13:38] wtrocki commented on #2299
Hi

Apologies for lack of release. Our team moved out of the project temporarily and making fewer changes.
However, we going to reply and keep things alive for a while. If you would like to fork it or even become a fully qualified maintainer of the project let us know.
For the moment we can provide latest release although there is no feature development happening on the project for the next 3-4 mo

[2021-08-18 13:41] wtrocki commented on #2299
Apologies for the lack of release. Our team moved out of the project temporarily and making fewer changes.
However, we going to reply and keep things alive for a while. If you would like to fork it or even become a maintainer of the project let us know
For the moment we can provide the latest release although there is no feature development happening on the project for the next 3-4 months timefram

[2021-08-18 13:45] wtrocki commented on #2299
TL;DR - you can become maintainer, get permission to release and work with Option 1 indefinitely or fork it and replicate entire infrastructure.

[2021-08-18 15:28] CoreyKovalik commented on #2299
@wtrocki Thank you for the transparency! I would be interested in becoming a maintainer in the near future.  We're soon implementing more searching/filtering features and finding that the #1967 issue needs some attention :)

[2021-08-18 15:38] wtrocki commented on #2299
Release process involves creating tag with the new version in the releases. CI/CD does the rest (unless templates were changed) then we need to push main https://github.com/aerogear/graphback/tree/templates-1.0.0 this branch to release templates.

Hope that answers question. Closing for now

[2021-08-18 15:38] #2299 closed

[2021-08-20 22:46] itsemirhanengin opened #2300 "Custom resolver "create" method types"
Hello! I'm trying to write a custom resolver for a reason. But when I try to use create method, I get this type error.
![image](https://user-images.githubusercontent.com/21215832/130300260-0908dad8-a6cd-43f5-bd17-7230749d2eee.png)

But when I ignore the error with // @ts-ignore I get no error and it works.
How can I make this without ignore the errors?

Thanks!

[2021-08-21 00:32] CoreyKovalik commented on #2300
You are running into an issue we have been running into as well. This is because of how the crud service is typing the create method. Here's the solve I've been doing.

[code]

[2021-08-21 00:37] itsemirhanengin commented on #2300
Thank you so much @CoreyKovalik! I've just tried it and It works great.

[2021-08-21 00:37] #2300 closed

[2021-08-21 19:01] itsemirhanengin commented on #2300
![image](https://user-images.githubusercontent.com/21215832/130332292-4a4595bc-eadf-4024-a307-a6bc32294c80.png)
@CoreyKovalik  I don't know why but VS code started to give me this error...

[2021-08-24 19:39] alexrhogue opened #2301 "buidlGraphbackAPI errors with custom directives"
Hey all.  We started talking about this issue over on discord:
https://discord.com/channels/632220458137419776/632220563540017153/879799832452161587

I attempted to add and use a custom directive in my data modal schema:
[code]

The schema and graphback code were generated correctly.  But at runtime `buidlGraphbackAPI` is throwing the following error:
[code]

I'm using graphback + apollo-server-ex

[2021-08-24 20:58] alexrhogue commented on #2301
Simple example repo:
https://github.com/alexrhogue/directive-detective

[2021-10-18 16:10] renovate[bot] opened #2304 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update commitlint monorepo (major) (`@commitlint/cli`, `@commitlint/config-conventional`)
 - [ ] chore(deps): update graphql

[2021-11-26 14:44] anmiralles opened #2305 "Schema generation error managing object's arrays."
* **Module**:
Datasync

* **Version**: 1.1.2
* **Node.js / npm versions:**
[code]
* Example/snippet of the model that is causing issue

This is the schema we are trying to generate:

[code]

When executing "npm run start" we are getting the following error:

[code]

Could you please review and tell us if this is an issue or we have to create the model in other way.

Thanks in advance.

[2021-11-29 08:17] anmiralles commented on #2305
Forgot to mention, this already works fine on version 1.0.1

Thanks.

[2022-02-18 16:13] TuringJest opened #2306 "Fragment generation produces invalid output on fields with parameters"
* **Module**: graphback-cli
* **Version**: 1.1.2
* **Node.js / npm versions:**  16.6.1 / 8.3.0
* Example/snippet of the model that is causing issue

"""
@model
"""
type Item {
    id: ID!
    itemConnection(input: ItemConnectionInput): ItemConnection!
}
input ItemConnectionInput {
    id: ID!
}
type ItemConnection {
    item: Item
}

I'm using graphback to generate fragments on the client. When a

[2022-05-13 10:21] eric-burel opened #2307 "Current state of the project + compatibility with Vulcan"
Hi folks, I am the maintainer of the  [Vulcan](https://vulcan-docs.vercel.app/) open source project.

We've been developing something very similar to Graphback. Our engine used to be locked in with Meteor, but we have spent the last 2 years migrating to NPM packages and Next.
We eventually made our engine available as ["Vulcan Fire"](https://vulcan-docs.vercel.app/docs/vulcan-fire/). We maintain a

[2022-11-18 20:18] bastianhilton opened #2309 "Error when generating graphql files"
I keep getting this error when I run the command below, any ideas on what is happening.
npx graphback generate
<b>Generation failed: Error:
      Unable to find any GraphQL type definitions for the following pointers:

          - C:\Users\sehilton\Documents\github\alternatecms\packages\core\api\schema.graphql
          </b>

This is an example type in my generated-schema.graphql file:

type Agree